{% extends "section.html"%}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; Operational Annual Report
    </div>
    
{% endblock %}


{% block content %}

<form action="/section/analytics/report/operational_annual/">
	<table>
		<tr>
		<td>
			<td>
			RA
			</td>
			<td>
				<select name="ra">
					{% for ra in ra_usernames%}
						<option value={{ra}}>{{ra}}</option> 
					{% endfor %}
				</select>
			</td>
			<td>
			Community
			</td>
			<td>
				<select name="community">
					{% for community in communities%}
						<option value={{community}}>{{community}}</option> 
					{% endfor %}
				</select>
			</td>
			<td>
			Date from:
			</td>
			<td>
				<input name="date_from" value="YYYY-MM-DD" type="date"/>
			</td>
			<td>
			Date to:
			</td>
			<td style="margin-right:10px">
				<input name="date_to" value="YYYY-MM-DD" type="date"/>
			</td>
			<td>
				<input type="submit" value="Filter"/>
			</td>
		</tr>	
	</table>
</form>

<div id="container">
	<div id="leftfloater" style="float: left; margin-right:10px">
		<table border="1">
		<caption><b>Operational Annual Report</b></caption>
		<tbody>
		{% for key, value in values.items %}
			<tr style="background: LightYellow;">
				<td>{{key}}</td> 
				<td>{{value}}</td>     
		    </tr> 
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
{% endblock content %}