{% extends "section.html"%}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; Replacement Report
    </div>
    
{% endblock %}


{% block content %}


	<H4>Select producer to replace households/plots from.</H4>
	<form action="/bcpp/section/analytics/report/replacement/" method="post">
   	{% csrf_token %}
    <div id="selection_box">
   	Producer Name:&nbsp;<select id="producer_name" name="producer_name">
	{% for producer_name in producer_names %}
	  <option value="{{ producer_name }}">{{ producer_name }}</option>
	{% endfor %}
	</select>
	<input type="submit" value="submit">			
	</form>

	<div id="container">
	<div id="leftfloater" style="float: left; margin-right:10px">
		<table border="1">
		<caption><b>Replacement Report</b></caption>
		<tbody>
		{% for key, value in replacement_values.items %}
			<tr style="background: LightYellow;">
				<td>{{key}}</td> 
				<td>{{value}}</td>     
		    </tr> 
		{% endfor %}
		</tbody>
		</table>
	</div>
	</div>
{% endblock content %}

