<ol>
{% for srvy in surveys %}
    {% if srvy.survey == survey %}
        <li><b>{{srvy.survey.survey_name}}&nbsp;{{ srvy.survey.datetime_start|date:'Y-m-d'}}&nbsp;-&nbsp;{{ srvy.survey.datetime_end|date:'Y-m-d'}}&nbsp;<span style="color:green">(showing)</span></b></li>
    {% elif srvy.survey.not_started %}
        <li>{{srvy.survey.survey_name}}&nbsp;{{ srvy.survey.datetime_start|date:'Y-m-d'}}&nbsp;-&nbsp;{{ srvy.survey.datetime_end|date:'Y-m-d'}}</li>
    {% else %}
        <li><A href="{{srvy.url}}">{{srvy.survey.survey_name}}</A>&nbsp;{{ srvy.survey.datetime_start|date:'Y-m-d'}}&nbsp;-&nbsp;{{ srvy.survey.datetime_end|date:'Y-m-d'}}</li>                             
    {% endif %}
{% endfor %}
</ol>