from django.db import models
from bhp_consent import ConsentModel
from bhp_common.models import MyBasicUuidModel

"""change the meta tag app_label below!!"""
class SubjectConsent(ConsentModel):
    pass 
    def __unicode__(self):
        return "%s %s (%s)" % (self.subject_identifier, self.first_name, self.initials)

    class Meta:
        app_label='[my_app]'             


class ConsentedSubjectModel(MyBasicUuidModel):
    """All subsequent models collecting information from consented subjects
    should inheret from this model
    
    """
    subject_consent = models.OneToOneField(SubjectConsent)                   
    
    report_datetime = models.DateTimeField("Today's date",
        validators=[
            datetime_not_before_study_start,
            datetime_not_future,])

    class Meta:
        abstract = True   
