aiohttp==1.1.0
appnope==0.1.0
async-timeout==1.1.0
-e git+https://github.com/botswana-harvard/bcpp-map.git@f45229d0b4e5a499873ff56c16d4fa174e7e3517#egg=bcpp_map
chardet==2.3.0
coreapi==2.0.9
decorator==4.0.10
Django==1.10.3
-e git+https://github.com/erikvw/django-appconfig-ini.git@c2c1d47c4ff630dcbb9eb383d9192fa270e03ca3#egg=django_appconfig_ini
django-braces==1.10.0
django-cors-headers==1.2.2
django-crispy-forms==1.6.1
-e git+https://github.com/erikvw/django-crypto-fields.git@cde47c5c48c292f6ca4455def416199393d83977#egg=django_crypto_fields
django-extensions==1.7.4
django-js-reverse==0.7.2
django-rest-swagger==2.1.0
-e git+https://github.com/erikvw/django-revision.git@29f82cffbb6285ff427cf09ed061615b9f7cede0#egg=django_revision
django-simple-history==1.8.1
djangorestframework==3.5.2
-e git+https://github.com/botswana-harvard/edc-admin-fields.git@725925f52ece42c6899c978df155ed4cfe1f2507#egg=edc_admin_exclude
-e git+https://github.com/botswana-harvard/edc-appointment.git@5eedf8d3289e4a96552c323d111a5c4f92d7ebd3#egg=edc_appointment
-e git+https://github.com/botswana-harvard/edc-base.git@a08a8c38981e21c02204eccbd9a2dc3f6c548758#egg=edc_base
-e git+https://github.com/botswana-harvard/edc-consent.git@e5dca047386686b9c47808fd3ae302b923d370c5#egg=edc_consent
-e git+https://github.com/botswana-harvard/edc-constants.git@66675dbe42fa7ec865185ad7513788aaf2a6632a#egg=edc_constants
-e git+https://github.com/botswana-harvard/edc-device.git@a582818873cc837926b882dcb91b7066c440f964#egg=edc_device
-e git+https://github.com/botswana-harvard/edc-export.git@6c4358f9b9172040005383f76a25b60ff188b14f#egg=edc_export
-e git+https://github.com/botswana-harvard/edc-field-label.git@86520047a732aa28e0246eb5082c6a9682b7a91f#egg=edc_field_label
-e git+https://github.com/botswana-harvard/edc-identifier.git@3cdf889315dd956489c3d6865d0f3e58a013e3f8#egg=edc_identifier
-e git+https://github.com/botswana-harvard/edc-lab.git@a5a48ff3354ddfad24c74a018f93e251eb1057f2#egg=edc_lab
-e git+https://github.com/botswana-harvard/edc-locator.git@94b439902673dc488a0f133fea734516dd438932#egg=edc_locator
-e git+https://github.com/botswana-harvard/edc-map.git@1bb6084b38dd5890bdadcfecd66764c7bcfaf7fc#egg=edc_map
-e git+https://github.com/botswana-harvard/edc-metadata.git@9c83957c4e6d35bc95e93b9f86de907ca79e459f#egg=edc_meta_data
-e git+https://github.com/botswana-harvard/edc-off-study.git@6c9a2d73dfafe898e81dafb57f1d6d71698a545c#egg=edc_offstudy
-e git+https://github.com/botswana-harvard/edc-protocol.git@224bdaed3b83bd7ef3745fa4fe33ef0e94f77e78#egg=edc_protocol
-e git+https://github.com/botswana-harvard/edc-quota.git@7d5eb8d79dd98ee8db9775769899c476bc007cd9#egg=edc_quota
-e git+https://github.com/botswana-harvard/edc-registration.git@cc065a94f12ee5b8859d45c5598a33771a63e5db#egg=edc_registration
-e git+https://github.com/botswana-harvard/edc-rest.git@bcbf35de88a7c4d76e395d8b89b0c772dd1112b8#egg=edc_rest
-e git+https://github.com/botswana-harvard/edc-rule-groups.git@28a792d54269d3feb860e5cdec2ba6879b740917#egg=edc_rule_groups
-e git+https://github.com/botswana-harvard/edc-sync.git@07e5d8b066e8f0ee15d2a20ad66d97ad4f39e7fe#egg=edc_sync
-e git+https://github.com/botswana-harvard/edc-timepoint.git@develop#egg=edc_timepoint
-e git+https://github.com/botswana-harvard/edc-visit-schedule.git@dd22841185429d07eb622c95da6ebba0606318f3#egg=edc_visit_schedule
-e git+https://github.com/botswana-harvard/edc-visit-tracking.git@953a06242f2004699d38bfa0cef99fd5700bc791#egg=edc_visit_tracking
geopy==1.11.0
gitdb2==2.0.0
GitPython==2.1.0
ipython==5.1.0
ipython-genutils==0.1.0
itypes==1.1.0
multidict==2.1.2
numpy==1.11.2
openapi-codec==1.1.7
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.1.3
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
smmap2==2.0.1
toolz==0.8.0
traitlets==4.3.1
Unipath==1.1
uritemplate==3.0.0
wcwidth==0.1.7
yarl==0.5.3
