{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}BCPP Analytics{% endblock %}</title>
    <link href="{% static 'bcpp_analytics/css/pure-min.css' %}" rel="stylesheet" />
    <link href="{% static 'bcpp_analytics/css/analytics.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class='pure-g-r'>
      <div class='pure-u-1'>

        <div class='header'>
          <div class='pure-menu pure-menu-open pure-menu-horizontal'>
            <ul>
              <li>
                <a href="/bcpp/section/">Dashboard</a>
              </li>
            </ul>
          </div>
          {% block page_heading %} <h1>Page Heading</h1> {% endblock %}
        </div>
        <div class='content'>
          {% block content %}
          {% endblock %}
        </div>
        
      </div>

    </div>
  </body>
</html>
