<h3 class="text-left">{{ plot.community }}</h3>
<div class="report-data">
  <table class='pure-table pure-table-bordered'>
    <tbody>
      {% include "bcpp_analytics/includes/row_renderer.html" with title="Plots" report_section=plot %}
      {% include "bcpp_analytics/includes/row_renderer.html" with title="Households" report_section=household %}
      {% include "bcpp_analytics/includes/row_renderer.html" with title="Households Members/Residents" report_section=member %}
    </tbody>
  </table>
</div>

