<tr class='report-section'>
  <th colspan='2' class='text-center'>{{report_section.title}}</th>
</tr>
{% for datarow in report_section.data %}
  <tr class="{% cycle 'even' 'pure-table-odd' %}">
    <td>{{datarow.label}}</td>
    <td class='text-right'>
      {% if datarow.is_dict %}
          {% for a_dict in datarow.dicts %}
            {% for k, v in a_dict.items %}
                {% include "bcpp_analytics/includes/column_dict_display.html" with key=k value=v %}
            {% endfor %}
          {% endfor %} 
      {% else %}
        {{datarow.value}}
      {% endif %}
    </td>
  </tr>
{% endfor %}

