{% load common_tags %}
{% load crypto_tags %}
{% load dispatch_tags %}
{% load admin_urls %}
{% load bcpp_household_member_tags %}
{% load url from future %}


<table border=1 width=100%>
<thead>
<th>First name</th>
<th>Initials</th>
<th>Sex</th>
<th>Age</th>
{% if not household_structure.survey.survey_abbrev == 'Y1' %}
    <th>Survival Status<></th>
{% endif %}
<th>Relation</th>
<th>Resident</th>
<th>Attempts</th>    
<th>Participation</th>
<th>Report/Action</th>
</thead>
<tbody>

{% if not has_household_log_entry or survey.survey_slug != current_survey %}
  {% for household_member in household_members %}
    <tr {% if household_member.first_name == first_name %}style="background:lightyellow;"{% else %}class="{% cycle 'row1' 'row2' %}"{% endif %}>
	    <td>{{ forloop.counter }}.&nbsp;{{ household_member.first_name|encrypted }}</td>
	    <td>{{ household_member.initials }}</td>
	    <td>{{ household_member.get_gender_display }}</td>
	    <td>{{ household_member.age_in_years }}</td>
	    {% if not household_structure.survey.survey_abbrev == 'Y1' %}
	        <td>{{ household_member.survival_status }}</td>
	    {% endif %}
	    <td>{{ household_member.get_relation_display }}</td>
	    <td>{{ household_member.get_study_resident_display }}</td>
	    <td>{{ household_member.visit_attempts }}</td>
	    <td>{{ household_member.member_status }}</td>
	    <td> {% if household_member.bypass_household_log %}
	         	{% comment %} show link to dashboard/consent {% endcomment %}
	         	{% if household_member.is_consented %}
	         		Subject Dashboard <A name="consented-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">{{ household_member.registered_subject|subject_identifier|default:'participant dashboard' }}{% if household_member.consent %}/consented-{{ household_member.consent.survey.survey_abbrev }}{{ household_member.get_hiv_history }}{%endif%}</a>
	         	{% else %}
	         		Subject Dashboard <A name="consented-{{household_member.pk}}" onclick="return false" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">{{ household_member.registered_subject|subject_identifier|default:'participant dashboard' }}{% if household_member.consent %}/consented-{{ household_member.consent.survey.survey_abbrev }}{{ household_member.get_hiv_history }}{%endif%}</a>
	         	{% endif %}
	         {% else %}
	    	 &nbsp; 
	    	 {% endif %}
	    	 </td>
    </tr>
  {% endfor %}
{% else %}
  {% for household_member in household_members %}
    <tr {% if household_member.first_name == first_name %}style="background:lightyellow;"{% else %}class="{% cycle 'row1' 'row2' %}"{% endif %}>
    
    <td>{{ forloop.counter }}.&nbsp;
    {% if household_member.survival_status == 'dead' or household_member.personal_details_changed == 'Yes' or household_member.personal_details_changed == 'No' %}
        {{ household_member.first_name|encrypted }}        
    {% else %}            
        <A href="{% url 'admin:bcpp_household_member_householdmember_change' household_member.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}">{{ household_member.first_name|encrypted }}</A>
    {% endif %} 

    {% if household_member.auto_filled and not household_member.updated_after_auto_filled  or household_member.personal_details_changed == '-'  %}<span style="color:red;font-size:9px;vertical-align:super">Update!</span>{% endif %}            

    </td>
        
    <td>{{ household_member.initials }}</td>
    <td>{{ household_member.get_gender_display }}</td>
    <td>{{ household_member.age_in_years }}</td>
    {% if not household_structure.survey.survey_abbrev == 'Y1' %}
        <td>{{ household_member.survival_status }}</td>
    {% endif %}
    <td>{{ household_member.get_relation_display }}</td>
    <td>{{ household_member.get_study_resident_display }}</td>
    <td>{{ household_member.visit_attempts }}</td>

    {% comment%} particpation form {% endcomment %}
    <td id="participation">
        {% if household_member.show_participation_form %}
            {% include "participation_form.html" %}   
		{% else %}
        	{{ household_member.member_status }}
        {% endif %}          
    </td>
 
    {% comment%} dashboard {% endcomment %}
    <td>   
         {% comment %}DEBUG, remove{% endcomment %}
         {% if household_member.member_status == 'BHS_SCREEN' %}
             {% comment %} to be consented, once passed eligibility, show link to enrollment checklist {% endcomment %}
             <span style="color:white;background-color:red;">&nbsp;</span>
             <A title="Complete the enrollment checklist to confirm eligibility before consent" href="{% url 'admin:bcpp_household_member_enrollmentchecklist_add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Check eligibility{%if household_member.is_minor %} (minor) {%endif %}</A>

         {% elif household_member.member_status == 'BHS_ELIGIBLE'  %}
             {% comment %} show link to the enrollment checklist {% endcomment %}
     	    {% if household_member.registered_subject|subject_identifier:' go to consent on dashboard' == 'go to consent on dashboard' %}<span style="color:white;background-color:red;">&nbsp;</span>{% endif %}
      		<B>Subject is <A title="link to the Enrollment Checklist" href="{% url 'admin:bcpp_household_member_enrollmentchecklist_change' household_member.enrollment_checklist.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">
      		 Eligible</A> for consent.</B>
      		<ol>
      		  <li>Complete consent process. 
      		  <li>After consent is signed go to the &nbsp;  
                   <A name="eligible-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">Subject Dashboard</a>
     	          &nbsp;to complete the Subject Consent.
     	    </ol>

         {% elif household_member.member_status == 'BHS'%}
          		{% comment %} show link to dashboard/consent{% endcomment %} 
      		    Subject Dashboard <A name="consented-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' appointment_code=appointment_code %}">{{ household_member.registered_subject|subject_identifier|default:'participant dashboard' }}{% if household_member.consent %}/consented-{{ household_member.consent.survey.survey_abbrev }}{{ household_member.get_hiv_history }}{%endif%}</a>
         	
         {% elif household_member.member_status == 'ANNUAL'%}
                 {% comment %} show link to dashboard/consent{% endcomment %} 
                 Subject Dashboard <A name="consented-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' appointment_code=appointment_code %}">{{ household_member.registered_subject|subject_identifier|default:'participant dashboard' }}{% if household_member.consent %}/consented-{{ household_member.consent.survey.survey_abbrev }}{{ household_member.get_hiv_history }}{%endif%}</a>
                 <ul><li>Complete T1 Annual Survey</li></ul>

         {% elif household_member.enrollment_checklist_completed and household_member.member_status == 'NOT_ELIGIBLE' %}
         	<B>Member has not passed the <A title="link to the Enrollment Checklist" href="{% url 'admin:bcpp_household_member_enrollmentchecklist_change' household_member.enrollment_checklist.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">
          		 enrollment checklist</A>, an enrollment loss form has been created.</B>

         {% elif household_member.member_status == 'NOT_ELIGIBLE'%}
         	{% if household_member.age_in_years < 16 %}
         		<B>Under age 16</B>, cannot participate at any level.
         	{% elif household_member.inability_to_participate != 'N/A' %}
 				<B>{{household_member.inability_to_participate}}</B>,  cannot participate at any level.
	{% elif household_member.age_in_years > 64 %}
		<B>Older than age 64</B>.
	{% elif household_member.study_resident != 'Yes' %}
 				<B>Not a study resident.</B>
	{% endif %}
         {% elif not household_member.is_consented_bhs and household_member.member_status != 'NOT_ELIGIBLE' %}
            {% if household_member.member_status == 'ABSENT'%}
            Absentee log (attempts to contact)
            		<ol>
                  {% for absentee in household_member.absentee_form_label %}
                  	<A name="absent-{{household_member.pk}}" href="{{ household_member.absentee_entry_form_urls|index_dictionary:absentee.1 }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&subject_absentee={{household_member.subject_absentee_instance.pk}}&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}"><li>{{ absentee.0 }}</li></A>
                  {% endfor %}
               {% if household_member.visit_attempts == 3 %}
            				reached maximum visit attempts (absentee + undecided)
               {% endif %}
                 </ol>
            {% elif household_member.member_status == 'UNDECIDED' %}
            Undecided log (attempts to contact)
            		<ol>
                  {% for undecided in household_member.undecided_form_label %}
                  	<A name="undecided-{{household_member.pk}}" href="{{ household_member.undecided_entry_form_urls|index_dictionary:undecided.1 }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&subject_undecided={{household_member.subject_undecided_instance.pk}}&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}"><li>{{ undecided.0 }}</li></A>
                  {% endfor %}
                  {% if household_member.visit_attempts == 3 %}
            				reached maximum visit attempts (absentee + undecided)
               {% endif %}
                 </ol>
            {% elif household_member.member_status == 'REFUSED' %}
             	<A name="refused-{{household_member.pk}}" href="{{ household_member.refused_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}&household_member={{household_member.pk}}&registered_subject={{household_member.registered_subject.pk }}">{% if 'Add' in household_member.refused_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.refused_form_label }}</A>
            {% elif household_member.member_status == 'DECEASED' %}
             	<A name="deceased-{{household_member.pk}}" href="{{ household_member.death_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}&household_member={{household_member.pk}}&registered_subject={{household_member.registered_subject.pk }}">{% if 'Add' in household_member.death_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.death_form_label }}</A>
            {% elif household_member.member_status == 'MOVED' %}
                 <A name="moved-{{household_member.pk}}" href="{{ household_member.moved_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}">{% if 'Add' in household_member.moved_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.moved_form_label }}</A>

            {% elif household_member.member_status == 'HTC' or household_member.member_status == 'HTC_ELIGIBLE' %}
                 {% if household_member.subject_htc %}
          		     {% if household_member.intervention %} Complete paper HTC intake form.<BR> {% endif %}
          		     <A title="HTC" href="{% url 'admin:bcpp_household_member_subjecthtc_change' household_member.subject_htc.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">HTC {% if household_member.subject_htc.offered %}{{ household_member.subject_htc.outcome }}: <b>{{household_member.subject_htc.tracking_identifier}}</b> {% endif %}</A>
                 {% else %}
                 	<ol> 
                 		{% if household_member.enrollment_checklist%}
                 			<B>Failed BHS Enrollment Checklist</B>
                 			<li><A title="HTC" href="{% url 'admin:bcpp_household_member_subjecthtc_add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Offer HTC</A>
                 			<li><A title="Edit Enrollment Checklist" href="{% url 'admin:bcpp_household_member_enrollmentchecklist_change' household_member.enrollment_checklist.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Edit Enrollment Checklist</A>
                 		{% elif household_member.refused %}
                 			<B>Refused BHS</B>
                 			<li><A title="HTC" href="{% url 'admin:bcpp_household_member_subjecthtc_add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Offer HTC</A>
                 		{% else %}
                 			{% if household_member.age_in_years > 64 %}
                 				<B>Older than 64.</B>
                 			{% else %}
                 				<B>Not a study resident.</B>
                 			{% endif %}
                 			<li><A title="HTC" href="{% url 'admin:bcpp_household_member_subjecthtc_add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Offer HTC</A>
                 		{%endif%}
                 	</ol>
                 {% endif %}
            {% elif household_member.member_status == 'REFUSED_HTC' %}
             	<ol>
             		<B>Refused HTC.</B><br>
             		<A title="HTC" href="{% url 'admin:bcpp_household_member_subjecthtc_change' household_member.subject_htc.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">HTC {% if household_member.subject_htc.offered %}{{ household_member.subject_htc.outcome }}:{{household_member.subject_htc.tracking_identifier}}{% endif %}</A><br>
            		</ol>
            {%endif%}
         {% else %}
                 ----
         {% endif %}
	   </td>
  {% endfor %}
{% endif %}
</tbody>
</table>    
