{% extends "section_bcpp_household.html"%}
{% load common_tags %}
{% load crypto_tags %}
{% load dispatch_tags %}
{% load admin_urls %}
{% load url from future %}

{% block extrastyle %}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/household_dashboard.css" />{{ block.super }}
{% endblock%}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; <a href="{% url 'section_url' 'household'%}">Households</a>        
        &rsaquo; <a href="{% url 'section_search_word_url' 'household' 'word' household.household_identifier %}">Household {{household.household_identifier}}</a>        
        {% if survey %}
            &rsaquo; Household Composition at {{ household_structure.survey.survey_slug|capfirst }}
        {% endif %}    
    </div>
    
{% endblock %}

{% block section_tiles%}{% endblock %}

{% block dashboard %}


<div id="tile_wrapper">
    {% if household.plot.is_dispatched and household.plot.is_current_device_server%}
      <div align="center"><h2>The plot for this household is <font color="red">dispatched</font> to {{ household.user_container_instance.dispatched_container_item.producer.name }}</h2><h3>Information may be viewed but not changed</h3></div>    
    {% endif %}
    {% if household.plot.is_dispatched and not household.plot.is_current_device_server%}
      <div align="center"><h1>This household has been <font color="red">returned</font> to the server. Please do not make any changes to it or it's members.</h1></div>
    {% endif %}

    {% include "household_log_include.html" %}

    <H5>Household Composition for {{ household_structure.survey.survey_slug|capfirst }}</H5>
    {% block dashboard_marquee %}
        <div id="dashboard_marquee">
            <b>Household:&nbsp;</b>
            {% if household.is_dispatched %}
            	{{ household.household_identifier }}
            {% else %}
            	<A title="change household description" href="{% url 'admin:bcpp_household_household_change' household.pk %}?next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">{{ household.household_identifier }}</A>
            {% endif %}
            <b>Members:&nbsp;</b>{{ household_structure.member_count }}
        </div>

        <div id="household_structure_status_marquee">
            <B>Household Status:</B> {% if household_structure.enrolled %} <b><span style="color:green">Enrolled</span></b> {% else %} (not enrolled) {% endif %}
            <B>{% if replaceable and not household.replaced_by %} Replaceable {% endif %} {% if household.replaced_by %} Replaced {% endif %}</B>
        </div>
        <div id="household_structure_status_marquee">
            {% if work_list %}<A href="{%url 'admin:bcpp_household_householdworklist_changelist' %}?q={{household_structure.pk}}">Work List</A> {% endif %}
        </div>    

    {% endblock %}
    {% if has_household_log_entry %}
      {% block household_questionnaire %}
      	{% if not lastest_household_log_entry_household_status == 'refused' %}
	        {% if not representative_eligibility %}
	        	{% if not household_refusal or not household_assessment %}
	        		<p style="clear:both;font-size:11px;"><span style="background-color:red;">&nbsp;</span>&nbsp;<a href="{% url 'admin:bcpp_household_representativeeligibility_add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Fill Representative Eligibility form to continue</a></p>
	        	{% endif %}
	        {% else %}
	            {% if household_info %}
	                <p style="clear:both;font-size:11px;"><a href="{% url 'admin:bcpp_household_member_householdinfo_change' household_info.pk %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Edit Household Information for {{household_info.household_member.get_relation_display }} {{household_info.household_member.first_name|encrypted }}</a></p>
	            {% elif not eligible_hoh %}
	            	<p style="clear:both;font-size:11px;"><span style="background-color:red;">&nbsp;</span>&nbsp;<a href="{% url 'admin:bcpp_household_member_householdheadeligibility_add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Head of Household Eligibility Checklist</a></p>
	            {% elif eligible_hoh %}
	            	{% if survey.survey_abbrev == 'Y1' and survey.survey_slug == current_survey %}
						<p style="clear:both;font-size:11px;"><span style="background-color:red;">&nbsp;</span>&nbsp;<a href="{% url 'admin:bcpp_household_member_householdinfo_add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Add Household Information for {{household_head_eligibility.household_member.get_relation_display }} {{household_head_eligibility.household_member.first_name|encrypted }}</a></p>            	
	            	{% elif survey.survey_abbrev == 'Y2' %}
	            		<p style="clear:both;font-size:11px;">&nbsp;</span>&nbsp;<a href="{% url 'admin:bcpp_household_member_householdheadeligibility_change' eligible_hoh.pk %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Head of Household Eligibility Checklist</a></p>
	            	{% endif %}                
	            {% endif %}
	        {% endif %}
        {% endif %}
      {% endblock %}
    {% endif %}

    {% include "householdmember_dashboard_include.html" %}
    {% if has_household_log_entry and representative_eligibility and not lastest_household_log_entry_household_status == 'refused' %}
        <table>
        	<tr>
        		<td>
		            {% if has_household_log_entry and not household_members %}<span style="background-color:red;">&nbsp;</span>{% endif %}
		            {% if not household_refusal and survey.survey_slug == current_survey %}
		            	<A href="{% url 'admin:bcpp_household_member_householdmember_add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10">&nbsp; Add another household member</A>
		        	{% endif %}
        		</td>
        	</tr>
        </table>
    {% endif%}  
    {% if household.comment %}            
        <table>
	        <tr>
	        	<td>{{ household.comment|wordwrap:80 }}</td>
	        </tr>
        </table> 
    {% endif %}
    
    <H5>C. Surveys for this Household</H5>
    {{ rendered_surveys }}    
</div>
{% endblock dashboard %}


