{% load common_tags %}
{% load crypto_tags %}
{% load dispatch_tags %}
{% load admin_urls %}
{% load bcpp_household_member_tags %}
{% load url from future %}


<table border=1 width=100%>
<thead>
<th>First name</th>
<th>Initials</th>
<th>Sex</th>
<th>Age</th>
<th>Relation</th>   
<th>Participation</th>
<th>Report/Action</th>
</thead>
<tbody>

{% if not has_household_log_entry %}
  {% for household_member in household_members %}
    <tr {% if household_member.first_name == first_name %}style="background:lightyellow;"{% else %}class="{% cycle 'row1' 'row2' %}"{% endif %}>
    <td>{{ forloop.counter }}.&nbsp;{{ household_member.first_name|encrypted }}</td>
    <td>{{ household_member.initials }}</td>
    <td>{{ household_member.gender }}</td>
    <td>{{ household_member.age_in_years }}</td>
    <td>{{ household_member.relation }}</td>
    <td>{{ household_member.member_status }}</td>
    <td>&nbsp;</td>
    </tr>
  {% endfor %}
{% else %}
  {% for household_member in household_members %}
    <tr {% if household_member.first_name == first_name %}style="background:lightyellow;"{% else %}class="{% cycle 'row1' 'row2' %}"{% endif %}>
    
    <td>{{ forloop.counter }}.&nbsp;
    {% if not household_member.member_status == 'CONSENT' %}
    	{% if household_member.household_structure.household.household_identifier|is_dispatched %}
    		{{ household_member.first_name|encrypted }}
    	{% else %}
        	<A href="{% url household_member_meta|admin_urlname:'change' household_member.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}">{{ household_member.first_name|encrypted }}</A>
        {% endif %}
    {% else %}            
        {{ household_member.first_name|encrypted }}        
    {% endif %} 
    {% if not household_member.present_today == 'Yes' and not household_member.present_today == 'No'%}<span style="color:red;font-size:9px;vertical-align:super">Update!</span>{% endif %}            
    </td>
        
    <td>{{ household_member.initials }}</td>
    <td>{{ household_member.gender }}</td>
    <td>{{ household_member.age_in_years }}</td>
    <td>{{ household_member.relation }}</td>
    {% comment%} particpation {% endcomment %}
    <td id="participation">
        
        {% if household_member.is_eligible and not household_member.is_consented %}
            <form name="participation-{{household_member.pk}}" action="{% url 'participation_url' %}" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        {% if household_member.member_status == 'NOT_REPORTED' %}<td style="color:white;background-color:red;">&nbsp;</td>{% else %}<td>&nbsp;</td>{% endif %}            
                        <td>
                            <table><tr>{{ household_member.participation_form.as_table }}</tr></table>
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            {% if household_member.member_status != 'NOT_REPORTED' %}
                {{ household_member.member_status }}
            {% else %}
                {{ household_member.member_status }} {{household_member.is_consented}}
            {% endif %}            
        {% endif %}
    </td>
 
    {% comment%} dashboard {% endcomment %}
    <td>    
            {% comment %}DEBUG, remove{% endcomment %}
            {% if household_member.member_status and household_member.member_status not in household_member_actions %}Unknown member status!{%endif%}

            {% if 'RESEARCH' in household_member.member_status and not household_member.eligible_subject %}
                {% comment %} to be consented, has passed eligibility, show link to eligibility checklist {% endcomment %}
                <span style="color:white;background-color:red;">&nbsp;</span>
                <A title="Complete the enrolment checklist to confirm eligibility before consent" href="{% url enrolment_checklist_meta|admin_urlname:'add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Check eligibility</A>

            {% elif 'RESEARCH' in household_member.member_status and household_member.eligible_subject %}
                {% comment %} show link to dashboard/consent {% endcomment %}
            	{% if household_member.household_structure.household.household_identifier|is_dispatched %}
            		dashboard{% if household_member.get_hiv_history%}/{{household_member.get_hiv_history}}{%endif%}
            	{% else %}
            	    {% if household_member.registered_subject|subject_identifier:' go to consent on dashboard' == 'go to consent on dashboard' %}<span style="color:white;background-color:red;">&nbsp;</span>{% endif %}
             		{% if not household_member.is_consented %}
                        <B>Subject is Eligible for consent.</B> Complete consent process. After consent is signed go to the subject consent on the 
                        <A name="eligible-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">Participant Dashboard</a>
                    {% else %}
             		    Participant Dashboard <A name="consented-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">{{ household_member.registered_subject|subject_identifier|default:'participant dashboard' }}{% if household_member.get_hiv_history%}/consented/{{household_member.get_hiv_history}}{%endif%}</a>
                    {% endif %}
            	{% endif %}

            {% elif household_member.member_status == 'HTC' %}
                <span style="color:white;background-color:red;">option not available</span>
            {% elif 'CONSENT' not in household_member.member_status and household_member.member_status in household_member_actions %}
               {% if household_member.member_status == 'ABSENT'%}
               Absentee log (attempts to contact)
               		<ol>
	                    {% for absentee in household_member.absentee_form_label %}
	                    	<A name="absent-{{household_member.pk}}" href="{{ household_member.absentee_entry_form_urls|index_dictionary:absentee.1 }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&subject_absentee={{household_member.subject_absentee.pk}}&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}"><li>{{ absentee.0 }}</li></A>
	                    {% endfor %}
		                {% if household_member.absentee_visit_attempts == 3 %}
               				reached maximum visit attempts (absentee + undecided)
		                {% endif %}
                    </ol>
               {% elif household_member.member_status == 'UNDECIDED' %}
               Undecided log (attempts to contact)
               		<ol>
	                    {% for undecided in household_member.undecided_form_label %}
	                    	<A name="undecided-{{household_member.pk}}" href="{{ household_member.undecided_entry_form_urls|index_dictionary:undecided.1 }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&subject_undecided={{household_member.subject_undecided.pk}}&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}"><li>{{ undecided.0 }}</li></A>
	                    {% endfor %}
	                    {% if household_member.absentee_visit_attempts == 3 %}
               				reached maximum visit attempts (absentee + undecided)
		                {% endif %}
                    </ol>
               {% elif household_member.member_status == 'REFUSED' %}
                    <A name="refused-{{household_member.pk}}" href="{{ household_member.refused_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}&household_member={{household_member.pk}}&registered_subject={{household_member.registered_subject.pk }}">{% if 'Add' in household_member.refused_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.refused_form_label }}</A>
               {% elif household_member.member_status == 'MOVED' %}
                    <A name="moved-{{household_member.pk}}" href="{{ household_member.moved_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}">{% if 'Add' in household_member.moved_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.moved_form_label }}</A>
               {% endif %}
            {% else %}
                    ----
            {% endif %}                
    </td>
    </tr>
  {% endfor %}
{% endif %}
</tbody>
</table>    