{% load common_tags %}
{% load crypto_tags %}
{% load dispatch_tags %}
{% load admin_urls %}
{% load bcpp_household_member_tags %}
{% load url from future %}


<table border=1 width=100%>
<thead>
<th>First name</th>
<th>Initials</th>
<th>Sex</th>
<th>Age</th>
<th>Relation</th>
<th>Resident</th>
<th>Attempts</th>    
<th>Participation</th>
<th>Report/Action</th>
</thead>
<tbody>

{% if not has_household_log_entry %}
  {% for household_member in household_members %}
    <tr {% if household_member.first_name == first_name %}style="background:lightyellow;"{% else %}class="{% cycle 'row1' 'row2' %}"{% endif %}>
    <td>{{ forloop.counter }}.&nbsp;{{ household_member.first_name|encrypted }}</td>
    <td>{{ household_member.initials }}</td>
    <td>{{ household_member.get_gender_display }}</td>
    <td>{{ household_member.age_in_years }}</td>
    <td>{{ household_member.get_relation_display }}</td>
    <td>{{ household_member.get_study_resident_display }}</td>
    <td>{{ household_member.visit_attempts }}</td>
    <td>{{ household_member.member_status }}</td>
    <td>&nbsp;</td>
    </tr>
  {% endfor %}
{% else %}
  {% for household_member in household_members %}
    <tr {% if household_member.first_name == first_name %}style="background:lightyellow;"{% else %}class="{% cycle 'row1' 'row2' %}"{% endif %}>
    
    <td>{{ forloop.counter }}.&nbsp;
    {% if not household_member.is_consented %}
    	{% if household_member.household_structure.household.household_identifier|is_dispatched %}
    		{{ household_member.first_name|encrypted }}
    	{% else %}
        	<A href="{% url household_member_meta|admin_urlname:'change' household_member.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}">{{ household_member.first_name|encrypted }}</A>
        {% endif %}
    {% else %}            
        {{ household_member.first_name|encrypted }}        
    {% endif %} 
    {% if not household_member.present_today == 'Yes' and not household_member.present_today == 'No'%}<span style="color:red;font-size:9px;vertical-align:super">Update!</span>{% endif %}            
    </td>
        
    <td>{{ household_member.initials }}</td>
    <td>{{ household_member.get_gender_display }}</td>
    <td>{{ household_member.age_in_years }}</td>
    <td>{{ household_member.get_relation_display }}</td>
    <td>{{ household_member.get_study_resident_display }}</td>
    <td>{{ household_member.visit_attempts }}</td>
    {% comment%} particpation {% endcomment %}
    <td id="participation">
        {% if not household_member.is_consented and not household_member.member_status == 'NOT_ELIGIBLE' %}     
    		<form name="participation-{{household_member.pk}}" action="{% url 'participation_url' %}" method="POST">
	         {% csrf_token %}
			    <select name="status" id="status" onchange="this.form.submit()">
		    		{% for status_key, status_value  in household_member.member_status_choices %}
		    			<option value="{{ status_key }}"  {% if household_member.member_status == status_key %} selected="selected" {% endif %}>{{ status_value }}</option>
			    	{% endfor %}
				</select>
			    <input type="hidden" name="household_member" value={{ household_member.id }}>
			    <input type="hidden" name="dashboard_id" value={{ household_structure.id }}>
			    <input type="hidden" name="dashboard_model" value="household_structure">
			    <input type="hidden" name="dashboard_type" value="household">
			</form>
		{% else %}
        	{{ household_member.member_status }}
        {% endif %}          
    </td>
 
    {% comment%} dashboard {% endcomment %}
    <td>    
            {% comment %}DEBUG, remove{% endcomment %}

            {% if household_member.member_status == 'BHS_SCREEN' %}
                {% comment %} to be consented, once passed eligibility, show link to enrollment checklist {% endcomment %}
                <span style="color:white;background-color:red;">&nbsp;</span>
                <A title="Complete the enrollment checklist to confirm eligibility before consent" href="{% url enrollment_checklist_meta|admin_urlname:'add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Check eligibility{%if household_member.is_minor %} (minor) {%endif %}</A>

            {% elif household_member.member_status == 'BHS_ELIGIBLE'  %}
                {% comment %} show link to the enrollment checklist {% endcomment %}
            	{% if household_member.household_structure.household.household_identifier|is_dispatched%}
            		Enrollment Checklist
            	{% else %}
            	    {% if household_member.registered_subject|subject_identifier:' go to consent on dashboard' == 'go to consent on dashboard' %}<span style="color:white;background-color:red;">&nbsp;</span>{% endif %}
             		<B>Subject is <A title="link to the Enrollment Checklist" href="{% url enrollment_checklist_meta|admin_urlname:'change' household_member.enrollment_checklist.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">
             		 Eligible</A> for consent.</B>
             		<ol>
             		  <li>Complete consent process. 
             		  <li>After consent is signed go to the &nbsp;  
                          <A name="eligible-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">Participant Dashboard</a>
            	          &nbsp;to complete the Subject Consent.
            	    </ol>
            	{% endif %}

            {% elif household_member.member_status == 'BHS' %}		
             		{% comment %} show link to dashboard/consent {% endcomment %}
             		{% if household_member.household_structure.household.household_identifier|is_dispatched %}
                        dashboard{% if household_member.get_hiv_history%}/{{household_member.get_hiv_history}}{% endif %}
                    {% else %}
             		    Participant Dashboard <A name="consented-{{household_member.pk}}" href="{% url subject_dashboard_url dashboard_type='subject' dashboard_model='household_member' dashboard_id=household_member.pk show='appointments' %}">{{ household_member.registered_subject|subject_identifier|default:'participant dashboard' }}{% if household_member.get_hiv_history%}/consented/{{household_member.get_hiv_history}}{%endif%}</a>
                    {% endif %}
            	
            {% elif household_member.enrollment_checklist_completed and household_member.member_status == 'NOT_ELIGIBLE' %}
            	Member has not passed the enrollment checklist, an enrollment loss form has been created.

            {% elif household_member.member_status == 'NOT_ELIGIBLE' and household_member.age_in_years < 16 %}
            	Under age 16, cannot participate at any level.

            {% elif household_member.member_status == 'NOT_ELIGIBLE' and household_member.age_in_years > 64 %}
            	Older than age 64.

            {% elif not household_member.is_consented and household_member.member_status != 'NOT_ELIGIBLE' %}
               {% if household_member.member_status == 'ABSENT'%}
               Absentee log (attempts to contact)
               		<ol>
	                    {% for absentee in household_member.absentee_form_label %}
	                    	<A name="absent-{{household_member.pk}}" href="{{ household_member.absentee_entry_form_urls|index_dictionary:absentee.1 }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&subject_absentee={{household_member.subject_absentee_instance.pk}}&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}"><li>{{ absentee.0 }}</li></A>
	                    {% endfor %}
		                {% if household_member.visit_attempts == 3 %}
               				reached maximum visit attempts (absentee + undecided)
		                {% endif %}
                    </ol>
               {% elif household_member.member_status == 'UNDECIDED' %}
               Undecided log (attempts to contact)
               		<ol>
	                    {% for undecided in household_member.undecided_form_label %}
	                    	<A name="undecided-{{household_member.pk}}" href="{{ household_member.undecided_entry_form_urls|index_dictionary:undecided.1 }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&subject_undecided={{household_member.subject_undecided_instance.pk}}&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}"><li>{{ undecided.0 }}</li></A>
	                    {% endfor %}
	                    {% if household_member.visit_attempts == 3 %}
               				reached maximum visit attempts (absentee + undecided)
		                {% endif %}
                    </ol>
               {% elif household_member.member_status == 'REFUSED' %}
                	<A name="refused-{{household_member.pk}}" href="{{ household_member.refused_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}&household_member={{household_member.pk}}&registered_subject={{household_member.registered_subject.pk }}">{% if 'Add' in household_member.refused_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.refused_form_label }}</A>
               {% elif household_member.member_status == 'MOVED' %}
                    <A name="moved-{{household_member.pk}}" href="{{ household_member.moved_form_url }}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_structure={{household_structure.pk}}">{% if 'Add' in household_member.moved_form_label %}<span style="color:white;background-color:red;">&nbsp;</span>&nbsp;{% endif %}{{ household_member.moved_form_label }}</A>

               {% elif household_member.member_status == 'HTC' or household_member.member_status == 'HTC_ELIGIBLE' or household_member.member_status == 'REFUSED_HTC' %}
                    {% if subject_htc %}
                        <A title="HTC" href="{% url subject_htc_meta|admin_urlname:'change' household_member.subject_htc.pk %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">HTC</A>
                    {% else %} 
                        <A title="HTC" href="{% url subject_htc_meta|admin_urlname:'add' %}?next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}&household_member={{household_member.pk}}">Offer HTC</A>
                     {% endif %}
               {%endif%}
            {% else %}
                    ----
            {% endif %}                
	   </td>
  {% endfor %}
{% endif %}
</tbody>
</table>    