{% extends "section_bcpp_household.html"%}
{% load common_tags %}
{% load crypto_tags %}
{% load dispatch_tags %}
{% load admin_urls %}
{% load url from future %}

{% block extrastyle %}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/household_dashboard.css" />{{ block.super }}
{% endblock%}

{% block breadcrumbs %}
    {% load tags %}
    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; <a href="{% url 'section_url' 'household'%}">Households</a>        
        &rsaquo; <a href="{% url 'section_search_word_url' 'household' 'word' household.household_identifier %}">Household {{household.household_identifier}}</a>        
        {% if survey %}
            &rsaquo; Household Composition at {{ survey.survey_slug|capfirst }}
        {% endif %}    
    </div>
    
{% endblock %}

{% block section_tiles%}{% endblock %}

{% block dashboard %}


<div id="tile_wrapper">

    {% include "household_log_include.html" %}

    <H4>B. Household Composition Dashboard</H4>
    {% if household.is_dispatched and household.is_current_device_server%}
	<div align="center"><h1>This household is currently <font color="red">dispatched</font> to the netbook. Please do not make any changes to it or it's members.</h1></div>	
	{% endif %}
	{% if household.is_dispatched and not household.is_current_device_server%}
	<div align="center"><h1>This household is currently <font color="red">returned</font> to the server. Please do not make any changes to it or it's members.</h1></div>
	{% endif %}
    {% block dashboard_marquee %}
        <div id="dashboard_marquee">
            <b>Household:&nbsp;</b>
            {% if household.is_dispatched %}
            	{{ household.household_identifier }}
            {% else %}
            	<A title="change household description" href="{% url household_meta|admin_urlname:'change' household.pk %}?next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household&dashboard_id={{ household.pk }}">{{ household.household_identifier }}</A>
            {% endif %}
            <b>Members:&nbsp;</b>{{ household_structure.member_count }}
        </div>

        <div id="household_structure_status_marquee">
            <B>Household Status:</B> {% if household_structure.enrolled %} <b><span style="color:green">Enrolled</span></b> {% else %} (not enrolled) {% endif %}
        </div>

    {% endblock %}
    {% if has_household_log_entry %}
      {% block household_questionnaire %}
        {% if household_members %}
            {% if household_info %}
                <p style="clear:both;font-size:11px;"><a href="{% url household_info_meta|admin_urlname:'change' household_info.pk %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Edit Household Information from {{household_info.household_member.get_relation_display }} {{household_info.household_member.first_name|encrypted }}</a></p>
            {% elif not household_info and not eligible_hoh %}
            	<p style="clear:both;font-size:11px;"><span style="background-color:red;">&nbsp;</span>&nbsp;<a href="{% url head_household_eligibility_meta|admin_urlname:'add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Head of Household Eligibility Checklist</a></p>
            {% elif not household_info and eligible_hoh %}
                <p style="clear:both;font-size:11px;"><span style="background-color:red;">&nbsp;</span>&nbsp;<a href="{% url household_info_meta|admin_urlname:'add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Add Household Information from {{head_household_eligibility.household_member.get_relation_display }} {{head_household_eligibility.household_member.first_name|encrypted }}</a></p>
            {% endif %}
        {% endif %}
      {% endblock %}
    {% endif %}

    {% include "householdmember_dashboard_include.html" %}
    
    {% if has_household_log_entry %}
        {% if allow_edit_members %}
            
            <table><tr><td>
                {% if has_household_log_entry and not household_members %}<span style="background-color:red;">&nbsp;</span>{% endif %}
                {% if not household.household_status == 'refused' %}
                	<A href="{% url household_member_meta|admin_urlname:'add' %}?household_structure={{ household_structure.pk }}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10">&nbsp; Add another household member</A>
            	{% endif %}
            </td></tr></table>
        {% endif %}
    {% endif%}  
    {% if household.comment %}            
        <table>
        <tr>
        <td>{{ household.comment|wordwrap:80 }}</td>
        </tr>
        </table> 
    {% endif %}
    
    <H4>C. Surveys for this Household</H4>
    {{ rendered_surveys }}    
</div>
{% endblock dashboard %}


