{% extends "base_registered_subject_dashboard.html"%}
{% load common_tags %}
{% load crypto_tags %}
{% load admin_urls %}
{% load url from future %}


{% block breadcrumbs %}

    {% load tags %}
    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; <a href="{% url 'section_url' section_name='household'%}">Household</a>
        &rsaquo; <a href="{% url household_dashboard_url dashboard_type='household' dashboard_model='household_structure' dashboard_id=household_structure.pk %}">{{ household_structure.household.household_identifier }} {{ household_structure.survey.survey_slug|capfirst }}</a>        
        &rsaquo; {% if subject_consent %}{{ subject_consent.subject_identifier }}{% else %}{{ registered_subject.subject_identifier|mask_pk:'subject identifier pending' }}{% endif %}
    </div>
    
{% endblock %}

{% block clinic_dashboard_marquee %}
<table>
<tr style="background:lightyellow;">
<td><B>Name:</B> {{ household_member.first_name|encrypted }} ({{ household_member.initials }})</td> 
<td><B>Gender:</B> {{ household_member.gender|gender }}</td>
<td><B>Age:</B> {% if subject_consent %}{{ subject_consent.age_at_consent }}y at consent{% else %}{{ household_member.age_in_years }} at survey{% endif %}</td>
<td><B>Survey:</B> {% if subject_consent %}Consented during survey '{{subject_consent.survey_of_consent}}'{% endif %}</td>
{% if subject_consent %}
    {% if not subject_consent.first_name == household_member.first_name %}
        <td><div style="background:red;color:white;">Name mismatch: {{ subject_consent.first_name|encrypted }} <> {{household_member.first_name|encrypted}}</div></td>  
    {% endif %}
{% else %}    
    <td></td>  
{% endif %}
{% if last_subject_referral %}
    <td><B>Past Referral:</B> {{ last_subject_referral.referral_code }}{% if last_subject_referral.referral_appt_date %} on {{ last_subject_referral.referral_appt_date }}{% endif %}</td>    
{% else %}    
    <td></td>  
{% endif %}
{% if hiv_result %}
    <td><B>Result: </B>{{ hiv_result.hiv_result|mask_hiv_result }} {{ elisa_hiv_result.hiv_result}}</td>
    <td><B>Blood Draw Type: </B>{{ hiv_result.blood_draw_type  }}</td>            
{% endif %}

</tr>
</table>
{% block subject_consent %}
{% if subject_consent %}
  <table>
  <tr style="background:lightyellow;">
    <td><B>Survey Consent:</B> {{household_structure.survey.survey_name}}{%comment%}{{subject_consent.survey.survey_name }}{%endcomment%}</td>
    <td><B>Identifier:</B> {{subject_consent.subject_identifier }}</td>
    <td><B>{{subject_consent.identity_type|capfirst }}:</B> {{subject_consent.identity|encrypted }}</td>      
    <td><B>Born:</B> {{subject_consent.dob|date:"Y-m-d" }}</td> 
    <td><B>Age:</B> {{subject_consent.dob|age }}</td>
    <td><B>Date:</B> {{subject_consent.consent_datetime|date:"Y-m-d H:i" }}</td>
  </tr>
  </table>
  
{% endif %}
{% endblock subject_consent%}

{% endblock clinic_dashboard_marquee%}

{% block membership_forms %}
	{% if household_member.is_dispatched %}
         Forms locked! because this {{ household_member.first_name|encrypted }} is in household that is currently dispatched to a netbook.
    {% else %}
        {% for keyed_model in keyed_membership_forms %}
            <A href="{% url keyed_model|get_meta|admin_urlname:'change' keyed_model.id %}?next={{ subject_dashboard_url }}&dashboard_type={{dashboard_type}}&dashboard_model={{dashboard_model}}&dashboard_id={{dashboard_id}}&show=appointments&registered_subject={{ registered_subject.pk }}{{membership_form_extra_url_context}}">{{ keyed_model }} (complete)</A> |
        {% endfor %}   
        {% for unkeyed_membership_form in unkeyed_membership_forms %}
            <span style="background-color:red;">&nbsp;</span>&nbsp;<A href="{% url unkeyed_membership_form|get_meta|admin_urlname:'add' %}?next={{ subject_dashboard_url }}&dashboard_type={{dashboard_type}}&dashboard_model={{dashboard_model}}&dashboard_id={{dashboard_id}}&show=appointments&registered_subject={{ registered_subject.pk }}{{unkeyed_consent_context}}">{{ unkeyed_membership_form|get_verbose_name }} (new)</A> |
        {% endfor %}  
	{% endif %}
{% endblock %}

{% block appointment_continuation %}{% endblock %}

{% block side_bar_right_1 %}
    {% if not household %}    
        <H4>Household</H4>
        Household unknown
    {% else %}
        <tr name="top right"><td>
        <B>Household <A title="go to household" href="{% url household_dashboard_url dashboard_type='household' dashboard_model='household_structure' dashboard_id=household_structure.pk %}">{{ household.household_identifier }}</A></B>
        <table>
            <tr><td>{{ survey.survey_name }}</td><td colspan="2">CSO {{ household.cso_number|encrypted }}</td></tr>

            {{ rendered_household_members_sidebar }}

        </table>        

        </td></tr>
    {% endif %}

{% endblock side_bar_right_1 %}    


{% block referral %}    
    <tr name="bottom right" >
        <td>
            {% if subject_referral.referral_code %}
            <H4>Referral</H4>
                <ul>
                <li><B>{{ subject_referral.referral_code }}</B> {% if subject_referral.urgent_referral %}<B>URGENT</B>{% endif %}
                <li>Participant is '{{subject_referral.get_referral_code_display }}'
                <li>Referral Clinic: {{subject_referral.referral_clinic_type }} at {{subject_referral.referral_clinic|capfirst }}
                <li>Appointment: {{ subject_referral.referral_appt_date|date:"l, Y-m-d" }}
                {% if subject_referral.comment %}<li>{{ subject_referral.comment| wordwrap:20 }}{% endif %}
                </ul>
            {% endif %}                                                
        </td>
    </tr>
    {% if subject_referral.in_clinic_flag %}<B><span style="color:teal">Participant presented at clinic</span><B>{% endif %}            
{% endblock referral %}

{% block correct_consent %}
    {% if subject_consent %}
        {% if correct_consent %}
            <A href="{% url 'admin:bcpp_subject_correctconsent_change' correct_consent.id %}?subject_consent={{subject_consent.pk}}&next={{ subject_dashboard_url|default:'dashboard_url' }}&dashboard_type={{dashboard_type}}&dashboard_model={{dashboard_model}}&dashboard_id={{dashboard_id}}&show=appointments">correct_consent</A>
        {% else %}
            <A href="{% url 'admin:bcpp_subject_correctconsent_add' %}?subject_consent={{subject_consent.pk}}&next={{ subject_dashboard_url|default:'dashboard_url' }}&dashboard_type={{dashboard_type}}&dashboard_model={{dashboard_model}}&dashboard_id={{dashboard_id}}&show=appointments">correct_consent</A>
        {% endif %}
    {% endif %}
{% endblock correct_consent %}
