{% load common_tags %}
{% load crypto_tags %}
{% load admin_urls %}
{% load url from future %}
{% load dispatch_tags %}

{% if household_log %}
 <H5>Household Log for {{ household_structure.survey.survey_slug|capfirst }}</H5>
 <p>Add a Household Log entry for each visit to this household</P>
 
 {% if household_log_entries %}
 <table border=1 width=100%>
 <thead>
 <th>Date</th>
 <th>HBC</th>
 <th>Next Appt</th>
 <th>Appt Source</th>    
 <th>Comment</th> 
 <th>Updated</th>               
          
 </thead>
 <tbody>
 {% for household_log_entry in household_log_entries %}
     <tr class="{% cycle 'row1' 'row2' %}">
     <td>{{ forloop.counter }}.&nbsp;<A href="{% url 'admin:bcpp_household_householdlogentry_change' household_log_entry.pk %}?household_log={{household_log.pk}}&next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}"> {{ household_log_entry.report_datetime|date:"Y-m-d" }}</A></td>
     <td>{{ household_log_entry.user_modified|default:household_log_entry.user_created}}</td>
     <td>{{ household_log_entry.next_appt_datetime|date:"Y-m-d" }}</td>
     <td>{{ household_log_entry.get_next_appt_datetime_source_display }}</td>
     <td>{{ household_log_entry.get_household_status_display }}. {{ household_log_entry.comment }}</td>
     <td>{{ household_log_entry.modified|default:household_log_entry.created|date:"Y-m-d" }}</td>
     </tr>
 {% endfor %}
 </tbody>
 </table>    
 {% endif %}
 {{ household_log.household_status}}
 <p>&nbsp;{% if not has_household_log_entry and survey.survey_slug == current_survey %}<span style="background-color:red;">&nbsp;</span>{% endif %}{% if survey.survey_slug == current_survey %}&nbsp;<A href="{% url 'admin:bcpp_household_householdlogentry_add' %}?household_log={{household_log.pk}}&household={{household_log.household.pk}}&next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10">&nbsp;Add a household log entry</A></p>{% endif %}
 {% if household_structure.failed_enumeration_attempts >= 3 and not household_assessment and not household_structure.enumerated %}
  <p><A href="{% url 'admin:bcpp_household_householdassessment_add' %}?household_structure={{household_structure.pk}}&next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10">&nbsp;Add Assessing of Household residency status form</A></p>
 {% endif %}
 {% if household_assessment %}
  <a href="{% url 'admin:bcpp_household_householdassessment_change' household_assessment.pk %}?household_structure={{ household_structure.pk }}&household_assessment={{household_assessment.pk}}&next={{ household_dashboard_url }}&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}">Edit Assessing of Household residency status form</a>
 {% endif %}
{% if lastest_household_log_entry_household_status == 'refused' %}
	{% if household_refusal %}
		<p><A href="{% url 'admin:bcpp_household_householdrefusal_change' household_refusal.pk %}?household_refusal={{household_refusal.pk}}&household_structure={{household_structure.pk}}&next=section_url&section_name=household">refusal form</A></p>
	{% else %}
		<p><A href="{% url 'admin:bcpp_household_householdrefusal_add' %}?household_structure={{household_structure.pk}}&next=household_dashboard_url&dashboard_type=household&dashboard_model=household_structure&dashboard_id={{ household_structure.pk }}"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10">&nbsp;refusal form</A></p>
	{% endif %}
{% endif %}
{% endif %}