{% extends "section.html" %}
{% load i18n %}
{% load admin_urls %}
{% load url from future %}
{% block extrahead %}
{{ block.super }} 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/map.css" />
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url "section_index_url"  %}">Home</a> &rsaquo; <a href="{% url "section_url" 'administration' %}">Administration</a> > Data replacement</div>
{% endblock %}

{% block content%}
	{% if replaceble_producer %}
		<table>
		<thead>
			<th>Plot/Household to replace</th>
			<th>Producer</th>
			<th>Replace</th>
		</thead>
		<tr>
		{% for item, producer in replaceble_producer %}
			<td>{{ item }}</td>
			<td>{{ producer }}</td>
			<td>
				{% if item.is_plot %}
				<a href="{% url 'return_data_url' %}/?plot_identifier={{ item.plot_identifier }}">return plot</a><
				{% else %}
				<a href="{% url 'return_data_url' %}/?household_identifier={{ item.household_identifier }}">return household</a>
			{% endif %}
			</td>
		{% endfor %}
		</tr>
		<tr><td colspan="2"><a href="{% url 'return_data_url' %}/?return_all='all'"><b>Return All</b></a> </td></tr>
		<tr><td colspan="2">Total replacements: {{ replacement_count }}</td></tr>
		</table>
{% endblock %}