{% extends 'section_household.html' %}



{% block gps_search %}
{{ gps_search_form.errors }}
<div id="gps_search_tile">
<form class="gps_search_form" action="{% url 'section_search_plot_gps_url' section_name %}" method="post">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in gps_search_form.visible_fields %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
    {% endfor %}
    <input type="submit" value="Search by GPS">
</form>
</div>
{% endblock %}

{% block household_questionnaire %}
{% endblock %}