{% extends "bcpp_analytics/reports_base.html" %}

{% block report_title %}Reports Index{% endblock %}

{% block content %}
  <div class="col-md-6 centered"> 
    <div class="panel panel-info"> 
      <div class="panel-heading">
        <h2 class="panel-title">Reports List</h2>
      </div>
      <div class="panel-body">
        The links below represent the currently available predefined reports
      </div>
      <div class="list-group">
        <a href="{% url 'analytics:operational_plot' %}" class="list-group-item">Operational Plots Report</a>
        <a href="{% url 'analytics:operational_household' %}" class="list-group-item">Operational Household Report</a>
        <a href="{% url 'analytics:operational_member' %}" class="list-group-item">Operational Member Report</a>
        <a href="{% url 'analytics:operational_specimen' %}" class="list-group-item">Operational Specimen Report</a>
        <a href="{% url 'analytics:operational_annual' %}" class="list-group-item">Operational Annual Report</a>
        <a href="{% url 'analytics:operational_consents' %}" class="list-group-item">Operational Clinic Consents Report</a>
        <a href="{% url 'analytics:operational_rbd' %}" class="list-group-item">Operational Clinic RBD Report</a>
        <a href="{% url 'analytics:operational_visits' %}" class="list-group-item">Operational Clinic Visits Report</a>
        <a href="{% url 'analytics:replacement' %}" class="list-group-item">Replacement Report</a>
        <a href="{% url 'analytics:accrual' %}" class="list-group-item">Community Accrual Report</a>
        <a href="{% url 'analytics:indicators' %}" class="list-group-item">Key Indicators Report</a>
      </div>
    </div>
  </div>
{% endblock %}

