

	<form action="{% url find_model_url section_name=section_name action=action model_name=model_name survey=selected_survey.survey_slug %}" method="POST">
    {% csrf_token %}
    <table>
    {% for frm in form %}
        <tr>
        <td class="field">
         {{ frm.label_tag }}
        <div class="help_text">{{ form.help_text }}</div>
        </td>
        <td>
        {{ frm.errors }}
        {{ frm }}
        </td>
        </tr>     
   {% endfor %}
    <tr>   
    <td colspan="2">
        <input type="hidden" id="survey" name="survey" value="{{ selected_survey.survey_slug }}">   
        <input type="submit" value="Submit" class="default" name="submit" />
    </td>
    </tr>
    </table>

    <script type="text/javascript">document.getElementById("id_identifier").focus();</script>
    <script type="text/javascript">
        (function($) {
            var field = null;
        })(django.jQuery);
    </script>

    </form>
