{% extends "section.html"%}
{% load admin_urls %}
{% load url from future %}


{% block section_links%}
<H3>Reports</H3>

<ul class="list_of_reports">
<LI><A href="{% url 'model_data_inspector_url_name' %}">Model Description and Data Summary</A>
<LI>Model Summaries
    <UL>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='bcpp_household' model_name='plot' %}">Plots</A>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='bcpp_household' model_name='household' %}">Households</A>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='bcpp_household_member' model_name='household_member' %}">Members</A>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='registration' model_name='registered_subject' %}">Registrations</A>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='bcpp_subject' model_name='subject_consent' %}">Consents</A>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='bcpp_subject' model_name='subject_referral' %}">Referrals</A>
        <LI><A href="{% url 'model_data_inspector_url_name' app_label='bcpp_lab' model_name='subject_requisition' %}">Requisitions</A>
    </ul>
</li>
</ul>
{% endblock%}

