{% load dispatch_tags %}
{% load crypto_tags %}
{% load survey_tags %}
<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>First Name</th>
        <th>Survey</th>
        <th>Participation</th>
        <th>Age</th>
        <th>Composition</th>
        <th>Household</th>        
        <th>Plot</th>        
        <th>Created</th>
        <th>Modified</th>               
        <th>User Created</th>
        <th>User Modified</th>
        <th>Host</th>                                                         
        </thead>
        <tbody>
      {% for hm in search_result.object_list %}
        <tr class="{% cycle 'row2' 'row1' %}">
        <td>{{hm.first_name|encrypted}} ({{hm.initials|encrypted}})</td>
        <td>{{hm.survey.survey_slug|format_survey|safe}}</td>
        <td>
        {% if hm.is_consented%}
            {{ hm.member_status }}
        {% else %}
            {{ hm.member_status }}
        {% endif %}</td>
        
        <td>{{hm.age_in_years}}{{ hm.gender }} {{hm.hiv_status}}</td>
        
        
        <td>
          {% if hm.household_structure.household.is_dispatched %}
            <div class="warning">Locked</div>{{ hm.household_structure.household.plot.action }}
          {% else %}
            {% if hm.household_structure.household.plot.action == CONFIRMED%}            
                <form method="POST" action="{% url 'household_dashboard_url' dashboard_type='household' dashboard_model='household_structure' dashboard_id=hm.household_structure.pk %}">
                {% csrf_token %}
                <input type="submit" value="Composition">
                </form>        
            {% else %}
                {{ hm.household_structure.household.plot.action }}
            {% endif %}
          {% endif %}
        </td>
         <td>
         
            <form method="POST" action="{% url 'section_search_word_url' 'household' 'word'  %}">
            {% csrf_token %}
            <input type="submit" value="Household {{hm.household_structure.household.household_identifier}}">
            <input type="hidden" name="search_term" value="{{ hm.household_structure.household.household_identifier }}">         
            </form>        
         
         </td>
        <td>
            <form method="POST" action="{% url 'section_search_word_url' 'plot' 'word'  %}">
            {% csrf_token %}
            <input type="submit" value="Plot {{ hm.household_structure.household.plot.plot_identifier }}">
            <input type="hidden" name="search_term" value="{{ hm.household_structure.household.plot.plot_identifier }}">         
            </form>        
        </td>
        <td>{{ hm.created|date:"Y-m-d H:i" }}</td>
        <td>{{ hm.modified|date:"Y-m-d H:i" }}</td>
        <td>{{ hm.user_created }}</td>
        <td>{{ hm.user_modified }}</td>
        <td>{{ hm.hostname_created }}</td>
        </tr>
      {% endfor %}
        <tr><td colspan="9">{{ search_result.object_list.count }} household member{{ search_result.object_list|pluralize }} found.</td></tr>            
      </tbody>

      </table>
      </div>
