{% load crypto_tags %}{% load admin_urls %}
   <A href="{{action_item_add_url}}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}">Add Action Item</A>&nbsp;|&nbsp;<A href="/admin/bhp_data_manager/actionitem/?&q={{ registered_subject.pk }}">See all for subject</A>
    <tr class="{% cycle 'row1' 'row2' %}">
       {% for action_item in action_items %}
           <td style="width:10px;text-align:left;"><span {% if action_item.status == 'open' %} style="background-color:RED;"{% endif %}>&nbsp;</span>{{ forloop.counter }}.&nbsp;
           {% if visit_code and visit_instance %}
               <A href="{{ action_item.get_absolute_url }}?next=dashboard_visit_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}&visit_code={{ visit_code }}&visit_instance={{ visit_instance }}&appointment={{ appointment.pk }}">{{action_item.subject }}</A>
           {% else %}
               <A href="{{ action_item.get_absolute_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}">{{action_item.subject }}</A>
           {% endif %}
           <BR> {{action_item.comment|encrypted }} 
           <BR><i><small>Updated on {{ action_item.modified|date:"SHORT_DATE_FORMAT" }}   
                by {{ action_item.user_modified }}</small></i>       
           </td>  
        {% endfor %}
   </tr>