{% extends 'base_appointment_row.html' %}
{% load appointment_tags %}

{% block appointment_columns %}
<td>
        {%if appointment.visit_definition.code == visit_code%}
            <B>
        {% endif %}

        {{ appointment.visit_definition.code }}.{{ appointment.visit_instance }}
        

        {%if appointment.visit_definition.code == visit_code %}
            </B>
        {% endif %}
        
</td>
<td>    {%if appointment.visit_definition.code == visit_code%}
            <B>
        {% endif %}
    
        {{ appointment.visit_definition.title }}
    
        {%if appointment.visit_definition.code == visit_code %}
            </B>
        {% endif %}
</td>
<td>{{ appointment.appt_type|appt_type }}</td>
<td nowrap>{{ appointment.appt_datetime|date:"Y-m-d D" }}</td>
{% endblock appointment_columns %}

{% block appointment_status_column %}
<td>
<A href="{{ appointment.get_absolute_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&registered_subject={{ registered_subject.pk }}{{ extra_url_context|default:"" }}">
    {{ appointment.get_appt_status_display }}
    {% if appointment.appt_status == 'incomplete'%}<font color="red">*</font>{% endif %}
    {% if appointment.appt_status == 'in_progress'%}<font color="green">*</font>{% endif %}    
</A> {% if appointment.appt_status == 'incomplete'%}&nbsp;{% continuation_appointment_anchor appointment dashboard_type extra_url_context %}{% endif %}
</td>
{% endblock appointment_status_column %}

{% block visit_report_column %}
    {% if appointment_visit_report %}
        <td><A href="{{ visit_model_instance.get_absolute_url }}?next=dashboard_visit_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&appointment={{ appointment.pk }}&visit_code={{ appointment.visit_definition.code }}&visit_instance={{appointment.visit_instance}}{{ extra_url_context|default:"" }}">{{visit_model_instance.report_datetime|date:"Y-m-d D"}}</A></td>
        <td>{%if appointment.visit_definition.code == visit_code%}
            <B>
        {% endif %}
        {{visit_model_instance.reason}}
        {%if appointment.visit_definition.code == visit_code %}
            </B>
        {% endif %}</td>
        
    {% else %}    
        {% if appointment.appt_status == 'cancelled' %}
            <td>&nbsp;</td>
        {% else %}
            <td><A href="{{ visit_model_add_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&appointment={{ appointment.pk }}{{ extra_url_context|default:"" }}">Add</A></td>            
        {% endif%}            
        <td></td>                
    {% endif%}
{% endblock visit_report_column %}

{% block show_column %}
    {% if appointment_visit_report %}
        {% if appointment.visit_definition.code == visit_code and appointment.visit_instance == visit_instance %}
            <td><A href="{% url 'dashboard_url' dashboard_type=dashboard_type subject_identifier=subject_identifier %}">show appointments</A></td>
        {% else %}
            <td><A href="{% url 'dashboard_visit_url' dashboard_type=dashboard_type subject_identifier=subject_identifier visit_code=appointment.visit_definition.code visit_instance=appointment.visit_instance %}">show entry forms</A></td>                    
        {% endif %}
    {% else %}
        {% if appointment.appt_status == 'cancelled' %}
            <td>&nbsp;</td>
        {% else %}
            <td><A href="{{ visit_model_add_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&appointment={{ appointment.pk }}{{ extra_url_context|default:"" }}">add Visit Report for for {{ appointment.visit_definition.code }}.{{ appointment.visit_instance }}</A></td>
        {% endif%}                    
    {% endif%}

{% endblock show_column %}
