{% extends "base_dashboard.html"%}
{% load common_tags %}
{% load registered_subject_dashboard_tags %}

{% block membership_forms %}

    {% for keyed_model_name, keyed_model in keyed_membership_forms.iteritems %}
        <A href="{{ keyed_model.get_absolute_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}">{{ keyed_model_name }} (Complete)</A> |
    {% endfor %}   

    {% for unkeyed_membership_form in unkeyed_membership_forms %}
        <A href="{{ unkeyed_membership_form|admin_url_from_contenttype }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}">{{ unkeyed_membership_form }} (New)</A> |
    {% endfor %}  

{% endblock %}

{% block appointments %}
    <table>
    <thead>
    <th>Visit</th>
    <th>Description</th>
    <th>Appt. Date</th>
    <th>Appt. Status</th>
    <th>Visit Report</th>
    <th>Visit Reason</th>      
    <th>Action</th>                                    
    </thead>
    <tbody>
    {% if not appointments%}
        <td colspan="8"><i>No appointments scheduled</i></td>
    {% else %}
        {% for appointment in appointments %}
            <tr class="{% cycle 'row1' 'row2' %}">
            {% appointment_row appointment %}
            </tr>
        {% endfor %}
    {% endif %}
    <tbody>
    <table>
{% endblock appointments %}


{% block additional_forms %}

    {% if additional_entry_bucket %}    
     <H3>Additional/PRN Forms</H3>
    <table>
    <thead>
    <th>Title</th>
    <th>Status</th>
    <th>Due</th>
    <th>Reported</th>        
    <th>Comment</th>        
    <th>Close</th>    
    </thead>
    {% for f in additional_entry_bucket %}
        <tr class="{% cycle 'row1' 'row2' %}">
        <td><A href="{% model_admin_url_from_registered_subject f.content_type_map.content_type registered_subject dashboard_type app_label %}">{{ f.content_type_map.content_type|model_verbose_name|title }}</A></td>
        <td><A href="{{ f.get_absolute_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}">{{ f.get_entry_status_display }}</A></td>
        <td>{{ f.due_datetime|date:"Y-m-d" }}</td>
        <td>{{ f.report_datetime|date:"Y-m-d" }}</td>               
        <td>{{ f.entry_comment }}</td>        
        <td>{{ f.close_datetime|date:"Y-m-d" }}</td>                                                                           
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}      
{% endblock %}


{% if scheduled_entry_bucket %}   
    {% block scheduled_data_collection %}
        <table>
        <thead>
        <th>#</th>
        <th>Title</th>
        <th>Status</th>
        <th>Due</th>
        <th>Reported</th>
        <th>User</th>                        
        <th>Modified</th>                        
        <th>Comment</th>        
        <th>Close</th>
        <th>Audit</th>                
        </thead>
        <tbody>

        {% for f in scheduled_entry_bucket %}
            <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ forloop.counter }}</td>
            {% if f.entry_status == 'NEW' or f.entry_status == 'KEYED' or f.entry_status == 'QUERY' %}            
                {% if appointment.appt_status == 'in_progress' %}
                 <td><A href="{% model_admin_url f.entry.content_type_map.content_type visit_model appointment dashboard_type app_label %}">{{ f.entry.content_type_map.content_type|model_verbose_name|title }}</A></td>
                {% else %}                
                    <td>{{ f.entry.content_type_map.content_type|model_verbose_name|title }}</td>
                {% endif %}                                 
            {% else %}                
                <td>{{ f.entry.content_type_map.content_type|model_verbose_name|title }}</td>
            {% endif %}                
            <td><A href="{{ f.get_absolute_url }}?next=dashboard_visit_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&visit_code={{f.entry.visit_definition.code}}&visit_instance={{ visit_instance}}&content_type_map={{f.entry.content_type_map.model}}">{{ f.get_entry_status_display }}</A></td>
            <td>{{ f.due_datetime|date:"Y-m-d" }}</td>
            <td>{{ f.report_datetime|date:"Y-m-d" }}</td>
            <td>{% if not f.user_modified %}{{ f.user_created }}{% else %}{{ f.user_modified }}{% endif %}</td>            
            <td>{% if not f.entry_status == 'NEW' %}{{ f.modified|date:"Y-m-d H:i" }}{% endif %}</td>                            
            <td>{{ f.entry_comment }}</td>        
            <td>{{ f.close_datetime|date:"Y-m-d" }}</td>
            <td><A href="/audit_trail/?app_label={{ f.entry.content_type_map.app_label }}&model_name={{ f.entry.content_type_map.model }}&audit_subject_identifier={{ subject_identifier }}&visit_code={{f.entry.visit_definition.code}}&visit_instance={{ visit_instance}}&back_url_name=dashboard_visit_url&dashboard_type={{ dashboard_type }}">audit trail</a></td>            
            <td></td>                                                                                                                                                                  
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endblock scheduled_data_collection %}
{% endif %}
