{% extends "section.html"%}

{% block breadcrumbs %}

    {% load tags %}
    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; {{ dashboard_type|capfirst }} Dashboard for {{ subject_identifier }}   
        
    </div>
    
{% endblock %}

{% block section_title%}{% endblock%}

{% block section_links %}{% endblock %}

{% block content %}

{% block clinic_dashboard_marquee %}{% endblock %}



{% block clinic_dashboard %}

<script type="text/javascript">
    $(document).ready(function(){
        $('.results').html( '<I>Contacting lab for results, please wait...<I>' ).load("Dajaxice.lab_clinic_api.update_result_status(Dajax.process,{'subject_identifier':'{{subject_identifier}}'});");
        });
</script>



<table border=1 width=100%>
    <tr>
        <td>
            <table name="left" border=1 width=100%>
                <tr name="top left"><td>
                {% block membership_forms %}{% endblock %}
                </td></tr>
                <tr name="top left"><td>
                <H3>Appointments</H3>
                <A href="{% url admin:bhp_appointment_appointment_add %}?next=dashboard_url&dashboard_type={{dashboard_type}}&registered_subject={{registered_subject.pk}}">Create new appointment</A>
                
                {% block appointments %}

                {% endblock appointments %}
                </td></tr>

                <tr name="bottom left" ><td>
                {% block additional_forms %}{% endblock%}
                </td></tr>
                <tr name="bottom left" ><td>
                <H3>Scheduled Forms {% if visit_code %} for Visit {{ visit_code }}{% endif %}</H3>

                {% if not visit_code %}                
                    To see scheduled forms for a visit, select the appointment with the correct visit report and click 'show entry forms' in the Action column.
                {% else %}
                    {% if appointment.appt_status != 'in_progress' %}
                        <I> Hint: To edit the forms below, change the selected appointment's status to 'In Progress'</I> 
                    {% endif %}    
                    {% block scheduled_data_collection %}{% endblock scheduled_data_collection %}
                {% endif %}
                </td></tr>

                <tr name="bottom left" ><td>
                <H3>Scheduled Labs {% if visit_code %} for Visit {{ visit_code }}{% endif %}</H3>

                {% if not visit_code %}                
                    To see scheduled forms for a visit, select the appointment with the correct visit report and click 'show entry forms' in the Action column.
                {% else %}
                    {% if appointment.appt_status != 'in_progress' %}
                        <I> Hint: To edit the labs below, change the selected appointment's status to 'In Progress'</I> 
                    {% endif %}    
                    {% block scheduled_lab_bucket %}{% endblock scheduled_lab_bucket %}
                {% endif %}
               </td></tr>
            </table>
        </td>

        <td>
            <table name="right"  border=1 width=100%>


                {% block infants %}
                {% endblock infants %}                                
                {% block maternal_consent %}
                {% endblock maternal_consent %}                                

                <tr name="middle right" ><td>
                <H3>Laboratory</H3>


                <span name="results" id="results">{{ local_results }}</span>
                <input name="fetch" id="fetch" value="Update" type="button" onclick="Dajaxice.lab_clinic_api.updating(Dajax.process);Dajaxice.lab_clinic_api.update_result_status(Dajax.process, {'subject_identifier': '{{ subject_identifier }}'});">                

                </td></tr>
        
                <tr name="bottom right" ><td>
                <H3>Data Issues</H3>
                </td></tr>

            </table>
        </td>    

    </tr>
</table>
{% endblock %}


{% endblock content%}


{% block other_section_links %}
</div>
{% endblock%}
