{% extends "base_search.html" %}

{% block search %}
<!-- can take either a week or date form -->
<form action="." method="POST">
    {% csrf_token %}
    <table>
    <tr>
11
    <td class="field">
         <label for="id_date_start">{{ form.date_start.label }}</label>
    </td>     
   <td class="field">
         <label for="id_date_end">{{ form.date_end.label }}</label>
    </td>     
   {% if form.year %} 
   <td class="field">
         <label for="id_year">{{ form.year.label }}</label>
    </td>     
   {% endif %} 
    <td></td>
    </tr>
    <tr>    
    {% if form.date_start %} 
    <td class="field">
        {{ form.date_start.errors }}
        {{ form.date_start }}
    </td>
    {% endif %}     
    {% if form.date_end %} 
    <td class="field">
        {{ form.date_end.errors }}
        {{ form.date_end }}
    </td>
    {% endif %}     
    {% if form.year %} 
    <td class="field">
        {{ form.year.errors }}
        {{ form.year }}
    </td>
    {% endif %} 
    <td>
        <input type="submit" value="Search" class="default" name="search" />
    </td>
    <tr>
        <td colspan="2" class="help_text">{{ form.help_text }}</td>
    </tr>
    <script type="text/javascript">document.getElementById("id_date_start").focus();</script>
    <script type="text/javascript">
        (function($) {
            var field = null;
        })(django.jQuery);
    </script>
        </table>
    </form>
{% endblock search %}
