{% extends "base_base_registered_subject_dashboard.html"%}
{% load common_tags %}
{% load registered_subject_dashboard_tags %}

{% block membership_forms %}

    {% for keyed_model_name, keyed_model in keyed_membership_forms.iteritems %}
        <A href="{{ keyed_model.get_absolute_url }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}">{{ keyed_model_name }} (Complete)</A> |
    {% endfor %}   

    {% for unkeyed_membership_form in unkeyed_membership_forms %}
        <A href="{{ unkeyed_membership_form|admin_url_from_contenttype }}?next=dashboard_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&registered_subject={{ registered_subject.pk }}">{{ unkeyed_membership_form }} (New)</A> |
    {% endfor %}  

{% endblock %}

{% block appointments %}
    {% if scheduled_entry_bucket %} <I>(Hint: to see all appointments, click 'show appointments' in the Action column below)</I>{% endif%}
    <table>
    <thead>
    <th>Visit</th>
    <th>Description</th>
    <th>Appt. Date</th>
    <th>Appt. Status</th>
    <th>Visit Report</th>
    <th>Visit Reason</th>      
    <th>Action</th>                                    
    </thead>
    <tbody>
    {% if not appointments%}
        <tr class="{% cycle 'row1' 'row2' %}"><td colspan="8"><i>No appointments scheduled</i></td></tr>
    {% else %}
        {% for appointment in appointments %}
            <tr class="{% cycle 'row1' 'row2' %}">
            {% appointment_row appointment %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
{% endblock appointments %}


{% block additional_forms %}
    {% if additional_entry_bucket %}    
        
        {% include 'additional_forms_include.html' %}    
        
    {% endif %}      
{% endblock %}


{% if scheduled_entry_bucket %}   
    {% block scheduled_data_collection %}

        {% include 'scheduled_entry_bucket_include.html' %}
        
    {% endblock scheduled_data_collection %}
{% endif %}

{% if scheduled_lab_bucket %}   
    {% block scheduled_lab_bucket %}

        {% include 'scheduled_lab_bucket_include.html' %}
        
    {% endblock scheduled_lab_bucket %}
{% endif %}

{% if additional_lab_bucket %}   
    {% block additional_lab_bucket %}

        {% include 'additional_lab_bucket_include.html' %}
        
    {% endblock additional_lab_bucket %}
{% endif %}

{% block lab_plots %}
{% for show_lab_plot in show_lab_plots %}
    <tr name="{{ show_lab_plot.url_arg }}" ><td>{{ show_lab_plot.title }}</img></td></tr>                
    <tr name="{{ show_lab_plot.url_arg }}" ><td><img src="/mpepu/specimens/charts/{{ subject_identifier }}/{{ show_lab_plot.url_arg }}/chart.png" width="200" height="100" onclick="Dajaxice.lab_clinic_api.plot_longitudinal_results(Dajax.process,{'subject_identifier':'{{ subject_identifier }}', 'test_code':'{{ show_lab_plot.url_arg }}'});"></img></td></tr>
    <tr name="{{ show_lab_plot.url_arg }}" ><td><small>click to enlarge</small></td></tr>                
{% endfor %}
{% endblock %}


