{% extends "base_bhp_map.html" %}

{% block content %}
    <H5>{{ mapper_name }} map</H5>
       
   	<form action="{% url clear_section_url mapper_name %}" method="post">
   	{% csrf_token %}
   
   	<div id="selection_box"> 
		Clear {{ section_label }} in:&nbsp;<select id="{{ region_field_attr }}" name="{{ region_field_attr }}">
		{% for region in regions %}
	  		<option value="{{ region }}">{{ region }}</option>
		{% endfor %}
		</select>
		<input type="submit" value="submit">
   	</form>
   	</div>
	
{% endblock content %}
