{% extends "section.html"%}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; <a href="/bhp_dispatch/admin/">Dispatch</A>
    </div>
    
{% endblock %}


{% block content %}

<table>
<tr><TD><H4>Items selected for dispatch</H4></TD></TR>
    {% for qs in queryset %}
        <tr><TD>{{ qs }}</TD></TR>
    {% endfor %}
</table>

<form action="/dispatch/" method="post">
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.producer.errors }}
        <label for="id_producer">Producer:</label> {{ form.producer }}
        <input type="submit" value="Dispatch" />
        <input type="hidden" name="ct" id="ct"  value="{{ ct }}">
        <input type="hidden" name="items" id="items" value="{{ items }}">
        {% csrf_token %}
    </div>
</form>
{% endblock %}


{% block section_buttons %}{% endblock section_buttons %}
{% block section_title %}{% endblock section_title %}
