{% load crypto_tags %}
{% load url from future %}

<div class="results">
      <table cellspacing="0" id="result_list">
        <thead><tr>
        <th>Dashboard</th>
        <th>Composition</th>
        <th>First Name</th>
        <th>Last Name</th>        
        <th>Initials</th>
        <th>Gender</th>
        <th>Dob</th>        
        <th>Age</th>
        <th>Registration Date</th>
        <th>User Created</th>
        <th>Date Created</th>
        <th>Host</th>       
        
        </thead>
        <tbody>
      {% for htcregistration in search_result.object_list %}
            <tr class="{% cycle 'row2' 'row1' %}">
            <td><A href="{% url 'subject_dashboard_url' dashboard_type='subject' dashboard_model='household_member' dashboard_id=htcregistration.household_member.pk show='appointments' %}">{{ htcregistration.subject_identifier }}</A></td>            
            <td><A href="{% url 'household_dashboard_url' dashboard_type='household' dashboard_model='household_structure' dashboard_id=htcregistration.household_member.household_structure.pk show='any' %}">{{htcregistration.household_member.household_structure }}</A></td>            
            <td>{{htcregistration.first_name|encrypted}}</td>
            <td>{{htcregistration.last_name|encrypted}}</td>            
            <td>{{htcregistration.initials}}</td>
            <td>{{htcregistration.gender}}</td>
            <td>{{htcregistration.dob|date:"Y-m-d"}}</td>
            <td>{{htcregistration.household_member.age_in_years}}</td>            
            <td>{{htcregistration.report_datetime|date:"d M Y H:i"}}</td>
            <td>{{htcregistration.user_created}}</td>
            <td>{{htcregistration.created|date:"d M Y H:i"}}</td>
            <td>{{htcregistration.hostname_created}}</td>
            </tr>

      {% endfor %}
      <tr><td colspan="9">{{ search_result.object_list.count }} registrations {{ search_result.object_list|pluralize }} found.</td></tr>                  
      </tbody>
      </table>
      </div>
