<h2>Orders</h2>
      <table cellspacing="0" id="result_list" border='1'>
        <thead><tr>
        <th>ORDER</th> 
        <th>ORDER DATE</th>   	    	
        <th>PANEL</th> 
        <th>PANEL GROUP</th> 
        <th>DMIS Ref</th> 
        <th>COMMENT</th> 
        </thead>
        <tbody>
        
          <tr>
             <td>{{ order.order_identifier }}</td>
			 <td>{{ order.order_datetime }}</td>
             <td>{{ order.panel }}</td>
             <td>{{ order.panel.panel_group }}</td>
             <td>{{ order.dmis_reference }}</td>       
             <td>{{ order.comment }}</td>     
            </tr>
      </table>

