{% load common_tags %}
{% load registered_subject_dashboard_tags %}
{% load requisition_tags %}

<span name="print_message" id="print_message"></span>

<table>
<thead>
<th></th>
<th>#</th>
<th>Requisition</th>
<th>Specimen</th>
<th>Drawn</th>                        
<th>Status</th>
<th>Due</th>
<th>Reported</th>
<th>User</th>                        
<th>Modified</th>                        
<th>Label</th>                        
<th>Comment</th>        
<th>Close</th>
<th>Audit</th>                
</thead>
<tbody>
{% if not scheduled_lab_bucket %}
    <tr class="{% cycle 'row1' 'row2' %}"><td colsapn="14"></td></tr>
{% else %}                
    {% for f in scheduled_lab_bucket %}
        <tr class="{% cycle 'row1' 'row2' %}">
        <td><span {% if f.entry_status == 'NEW'%}style="background:red;"{% endif %}>&nbsp;</span></td>        
        <td>{{ forloop.counter }}</td>
        {% if f.entry_status == 'NEW' or f.entry_status == 'KEYED' or f.entry_status == 'QUERY' %}            
            {% if appointment.appt_status == 'in_progress' %}
             <td><A href="{% requisition_model_admin_url requisition_model f.lab_entry.panel registered_subject appointment visit_model dashboard_type %}">{{ f.lab_entry.panel.name|title }}</A></td>
            {% else %}                
                <td>{{ f.lab_entry.panel.name|title }}</td>
            {% endif %}                                 
        {% else %}                
            <td>{{ f.lab_entry.panel.name|title }}</td>
        {% endif %}  
        <td><span style="font-size:14px">{% get_requisition_value 'requisition_identifier' requisition_model f.lab_entry.panel registered_subject appointment visit_model %}</span></td>
        <td>{% get_requisition_value 'drawn_datetime' requisition_model f.lab_entry.panel registered_subject appointment visit_model %}</td>            
        <td><A href="{{ f.get_absolute_url }}?next=dashboard_visit_url&dashboard_type={{ dashboard_type }}&subject_identifier={{ subject_identifier }}&visit_code={{f.lab_entry.visit_definition.code}}&visit_instance={{ visit_instance}}&panel={{f.lab_entry.panel.pk}}">{{ f.get_entry_status_display }}</A></td>
        <td>{{ f.due_datetime|date:"Y-m-d" }}</td>
        <td>{{ f.report_datetime|date:"Y-m-d" }}</td>
        <td>{% if not f.user_modified %}{{ f.user_created }}{% else %}{{ f.user_modified }}{% endif %}</td>            
        <td>{% if not f.entry_status == 'NEW' %}{{ f.modified|date:"Y-m-d H:i" }}{% endif %}</td>                            
        <td>
            <input name="print" id="print" value="Print" type="button" class="default" onclick="Dajaxice.lab_requisition.print_label(Dajax.process, {'app_label':'{% get_app_label requisition_model %}', 'model_name':'{% get_model_name requisition_model %}','requisition_identifier':'{% get_requisition_value 'requisition_identifier' requisition_model f.lab_entry.panel registered_subject appointment visit_model %}'});">
        </td>            
        <td>{{ f.entry_comment }}</td>        
        <td>{{ f.close_datetime|date:"Y-m-d" }}</td>
        <td><A href="/audit_trail/{{ app_label }}/{{ requisition_model }}/{{ subject_identifier }}/?visit_code={{f.lab_entry.visit_definition.code}}&visit_instance={{ visit_instance }}&back_url_name=dashboard_visit_url&dashboard_type={{ dashboard_type }}">audit trail</a></td>            
                                                                                                                                                                         
        </tr>
    {% endfor %}
{% endif %}    
</tbody>
</table>

