{% extends extend %}
{% block title %}{{ block.super|capfirst }} by {{ search_by_name }}{% endblock %}

{% block pagination %}
{% if search_results.object_list %}
{% include 'pagination_include.html' %}
{% endif %}
{% endblock %}

{% block results_title %}
{% if search_results.object_list %}
    <h3>{% block result_title %}{{ block.super }}{{ search_result_title }}{% endblock %}</h3>
{% endif %}    
{% endblock %}


{% block results %}

    {% if search_results %}

        {% if search_results.object_list %}
        
            {% block result_body %}

            {% include result_include_file %}
            
            {% endblock %}  

            {% include 'pagination_include.html' %}               
    
        {% endif %}
    
    Total: {{ count }}

    {% endif %}
   <p><small><small>label: {{ queryset_label }} [{{ queryset_label_branch }}]</small></small></p>
    </div>

{% endblock %}




