{% extends "base_bhp_map.html" %}

{% block content %}
    {% if mapper_names %}
        <div id="section_navbar">
        <ul>
        {% for mapper_name in mapper_names %}
         <li><a href="{% url "selected_map_index_url" mapper_name %}">{{ mapper_name }} maps</a>
        {% endfor %}
        </ul>
        </div>
    {% else %}
    
    <H5>Dispatch To GPS receiver</H5>

    <div id="section_navbar">
    	<ul>  
    		<li><a href="{% url "coordinates_to_gps_url" mapper_name %}">Dispatch coordinates</a></li>
    	</ul>
    </div>

	{% endif %}	
{% endblock content %}
      