{% extends "section.html"%}


{% block section_tiles %}
<div id="tile_wrap">

    <div id="add_model_tile">{% block add_model_tile %}
        <form method="GET" action="/admin/bcpp_subject/subjectconsentyearone/add/">
        {% csrf_token %}
        <input type="hidden" name="next" value="section_search_url_name">
        <input type="hidden" name="section_name" value="{{ section_name }}">
        <input type="hidden" name="search_name" value="{{ search_name }}">                
        <input type="submit" value="Add Subject Consent Year One"  />
        </form>
    {% endblock %}
    </div>

    <div id="search_tile">{% block search_tile %}
    <form method="GET" action="">
    {% csrf_token %}
    <input type="text" value="">&nbsp;<input type="button" value="Search">{% endblock %}</div>
    <input type="hidden" name="next" value = "">
    <input type="hidden" name="section_name" value = "{{section_name}}">
    <input type="hidden" name="search_name" value="{{ search_name }}">

    </form>
    <div id="appointments_tile">{% block appointments_tile %}appointments_tile{% endblock %}</div>
    
    <div id="action_items_tile">{% block actions_items_tile %}actions_items_tile{% endblock %}</div>
        
    <div id="counter_tile">{% block counter_tile %}counter_tile{% endblock %}</div>
</div>

{% endblock %}