{% extends "base_registered_subject_dashboard.html"%}
{% load common_tags %}{% load dashboard_tags %}
{% load crypto_tags %}

{% block clinic_dashboard_marquee %}
<table>
<tr style="background:lightyellow;">
<td><B>Name:</B> {{registered_subject.first_name|encrypted }} ({{ registered_subject.initials }})</td> 
<td><B>Gender:</B> {{registered_subject.gender|gender }}</td> 
<td><B>Identifier:</B> {{subject_consent.subject_identifier }}</td>
</tr>
<tr style="background:lightyellow;">
<td><B>{{subject_consent.identity_type|capfirst }}:</B> {{subject_consent.identity|encrypted}}</td>      
<td><B>Born:</B> {{subject_consent.dob|date:"Y-m-d" }}</td> 
<td><B>Age:</B> {{subject_consent.dob|age }}</td>
<td><B>Consented:</B> {{subject_consent.consent_datetime|date:"Y-m-d H:i" }}</td>
</tr>
<tr style="background:lightyellow;">
<td><B>Contact:</B> {% if subject_locator.may_follow_up == 'Yes' %}{{ subject_locator.subject_cell }} {% else %} May not call {% endif%}</td>      
</tr>
</table>
{% endblock %}

