{% extends "section.html"%}

{% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="/{{ home }}">Home</a>
        &rsaquo; Synchronize with Community Server
    </div>
    
{% endblock %}


{% block content %}


<A href="/admin/bhp_sync/producer/">Producers</A>

<table>
{% for producer in producers %}

    <tr>
    <td>{{ producer.name }}</td>
    <td><A href="/bhp_sync/get/{{ producer.name }}/">synchronize with community server</A></td>
    <td>&nbsp;|&nbsp;</td>
    <td><A href="{{ producer.url }}admin/bhp_sync/transaction/">producer transactions</A></td>    
    </tr> 

{% endfor %}
<table>

{% endblock content %}
