{% extends "section_administration.html"%}
{% load admin_urls %}
{% load url from future %}

{% block admin_sections %}
    <ul><li><A href="/admin/">All sections</A></ul>
    	{% if is_server %}
		    <H5>Override Code</H5>
		    <ul>
		    	<li><A href="{% url 'override_code_url_bcpp' %}">Override Code</A></li>
		    </ul>
		 {% endif %}
    <H5>BHS</H5>
    <ul>
    <li><A href="{% url 'admin:bcpp_household_plot_changelist' %}">Plots</A>
    <li><A href="{% url 'admin:bcpp_household_household_changelist' %}">Households</A>
    <li><A href="{% url 'admin:bcpp_household_householdstructure_changelist' %}">Household Structures</A>
    <li><A href="{% url 'admin:bcpp_household_member_householdmember_changelist' %}">Household Members</A>
    <li><A href="{% url 'admin:bcpp_household_replaceable_changelist' %}">Replaceables</A>
    <li><A href="{% url 'admin:bcpp_subject_subjectconsent_changelist' %}">Subject Consents</A>
    <li><A href="{% url 'admin:bcpp_subject_subjectreferral_changelist' %}">Subject Referrals</A>
    <li><A href="{% url 'admin:bcpp_household_increaseplotradius_changelist' %}">Plot allowed to increase target radius</A>
    </ul>
    <H5>Annual Followup</H5>
    <ul>
        <li><A href="{% url 'admin:bcpp_subject_calllist_changelist' %}">Call List</A>
        <li><A href="{% url 'admin:bcpp_subject_calllog_changelist' %}">Call Log</A>
        <li><A href="{% url 'admin:bcpp_subject_calllogentry_changelist' %}">Call Log Entries</A>
        <li><A href="{% url 'admin:bcpp_household_member_memberappointment_changelist' %}">Member Appointments</A>
        <li><A href="{% url 'admin:bcpp_household_householdworklist_changelist' %}">Work List</A>
        <li><A href="{% url 'admin:bcpp_subject_subjectconsent_changelist' %}">Subject Consent</A>  
        <li><A href="{% url 'admin:bcpp_subject_hicenrollment_changelist' %}">HIC Enrollment</A>
    </ul>
    <H5>Clinic</H5>
    <ul>
    <li><A href="{% url 'admin:bcpp_clinic_cliniceligibility_changelist' %}">Clinic Eligibility</A>
    <li><A href="{% url 'admin:bcpp_clinic_clinicconsent_changelist' %}">Clinic Consents</A>
    <li><A href="{% url 'admin:bcpp_clinic_clinicrefusal_changelist' %}">Clinic Refusals</A>
    <li><A href="{% url 'admin:bcpp_clinic_clinicenrollmentloss_changelist' %}">Clinic Enrollment Loss</A>
    </ul>

{% endblock admin_sections %}

{% block device_sync_export %}
    <li><A href="{% url 'bcpp_sync_export_outgoing_url' %}">Export outgoing transactions to USB drive</A></li>
{% endblock device_sync_export %}

{% block device_inspector %}
    {% if 'edc.device.inspector' in installed_apps %}
        <li><A href="{% url 'admin:bcpp_inspector_subjectrequisitioninspector_changelist'%}">Inspect Middleman Sync Model</A></li>
    {% endif %}
{% endblock device_inspector %}

{% block device_dispatch %}
    <H5>Device Dispatch</H5>
    <ul>
    <li><A href="{% url 'admin:bcpp_household_plot_changelist' %}">Dispatch data to netbooks</A>
      {% if 'edc.map' in installed_apps %}
        <li><A href="{% url 'map_index_url' %}">Dispatch data to devices by Map</A>
      {% endif %}
    </ul>

    <H5>Replacement</H5>
    <ul>
    <li><A href="{% url 'admin:bcpp_household_replaceable_changelist' %}">Update/View Replaceable Plots and Households (on Server)</A>
    <li><A href="{% url "replacement_index_url" %}">Replace household/plots on netbooks</A>
    </ul>
{% endblock device_dispatch %}