{% extends "base_registered_subject_dashboard.html"%}{% load crypto_tags %}
{% load common_tags %}{% load dashboard_tags %}
{% load crypto_tags %}
{% load admin_urls %}
{% load url from future %}

{% block subject_consent %}
{% if htc_registration %}
  <table>
  <tr style="background:lightyellow;">
    <td><B>Survey Consent:</B> {{htc_registration.survey.survey_name }}</td>
    <td><B>Identifier:</B> {{htc_registration.subject_identifier }}</td>
    <td><B>{{htc_registration.identity_type|capfirst }}:</B> {{htc_registration.identity|encrypted }}</td>      
    <td><B>Born:</B> {{htc_registration.dob|date:"Y-m-d" }}</td> 
    <td><B>Age:</B> {{htc_registration.dob|age }}</td>
    <td><B>Date:</B> {{htc_registration.report_datetime|date:"Y-m-d H:i" }}</td>
  </tr>
  </table>
{% endif %}
{% endblock %}
