{% extends "section.html" %}
{% load i18n %}
{% load admin_urls %}
{% load url from future %}
{% block extrahead %}
{{ block.super }} 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/map.css" />
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url "section_index_url"  %}">Home</a> &rsaquo; <a href="{% url "section_url" 'administration' %}">Administration</a> > Correct Consent</div>
{% endblock %}

{% block content%}

<H2>Select the data you want to correct</H2>
<ul>
<H3><li><A href="{% url 'consent_form_index_url' %}">Correct consent</A></li></H3>
<H3><li><A href="{% url 'increase_plot_radius_url' %}">Increase plot radius</A></li></H3>
</ul>

{% endblock content %}