{% extends "section.html" %}
{% load i18n %}
{% load admin_urls %}
{% load url from future %}
{% block extrahead %}
{{ block.super }} 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/map.css" />
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url "section_index_url"  %}">Home</a> 
    &rsaquo; <a href="{% url "section_url" 'administration' %}">Administration</a> 
    &rsaquo; <A href="{% url 'replacement_index_url' %}">Plot Replacement Step 1: Review</A>
    &rsaquo; <A href="{% url 'check_replacements_url' %}">Plot Replacement Step 2: Check</A>
    &rsaquo; Plot Replacement Step 3: Replace</div>
{% endblock %}

{% block content%}
	<h3>Plot Replacement Step 3: Replace</h3>
	<BR><BR><BR><BR>
	<A href="{% url 'replacement_index_url' %}"><<< Back to Plot Replacement: Step 1 Review</A>
{% endblock %}