{% extends "section.html" %}
{% load i18n %}
{% load admin_urls %}
{% load common_tags %}
{% load url from future %}
{% block extrahead %}
{{ block.super }} 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/map.css" />
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url "section_index_url"  %}">Home</a> 
&rsaquo; <a href="{% url "section_url" 'administration' %}">Administration</a> 
&rsaquo; Plot Replacement Step 1: Review</div>
{% endblock %}

{% block content%}
    <p><A href="{% url producer|get_meta|admin_urlname:'changelist' %}">Producers</A> 
     | <A href="{% url replaceable|get_meta|admin_urlname:'changelist' %}">Replaceables</A> 
     | <A href="{% url 'bcpp_sync_url' %}">Synchronize with Community Server</A></p>
    <H3>Plot Replacement Step1: Review</H3>
	{% if producers %}
		<form action="{% url 'check_replacements_url' %}" method="post">
	   	{% csrf_token %}
	    <div id="selection_box">
    	  Select a producer:&nbsp;<select id="producer_name" name="producer_name"> 
		  {% for producer in producers %}
		    <option value="{{ producer.producer_name }}">{{ producer.producer_name }}</option>
		  {% endfor %}
		  </select>
		  <input type="submit" value="submit"></input>			
		  </form>
		</div>
		<BR><BR><BR><BR><BR><BR><BR><BR>
		<table>
        <thead>
        <th>Name</th>
        <th>Settings Key</th>
        <th>IP</th>
        <th>Online</th>
        <th>Synced</th>
        <th>Status</th>
        <th>Replaceables</th>
        <th>Last Updated</th>
        </thead>
		{% for producer in producers %}
		  <tr class="{% cycle 'row1' 'row2' %}">
		    <td>{{ producer.producer_name }}</td>
		    <td>{{ producer.settings_key }}</td>
		    <td>{{ producer.ip }}</td>
		    <td>{% if not producer.online %} <font color="red">offline</font> {%else%} <font color="green">OK</font> {%endif%}</td>
		    <td>{% if not producer.synced %} <font color="red">Pending transactions</font> {%else%} <font color="green">OK</font> {%endif%}</td>
		    <td>{% if producer.error %}<font color="red">error</font> {%else%} <font color="green">OK</font> {%endif%}</td>
		    <td>{{ producer.replaceables_count }}</td>
            <td>{{ producer.replaceables_last_updated }}</td>
		   </tr>
		{% endfor %}
	    </table>
	{% endif %}
{% endblock content %}